{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block banner %}
{% endblock banner %}

{% block heading %}
  <div class="row">
    <div class="col-md-5">
      <a href="{% url 'index' %}"><img src="{% static 'dataexplore/360-giving-logo.svg' %}" alt="360Giving Logo" width="270"/></a>
    </div>
    <div class="col-md-5">
      <div class="title360"><a href="{% url 'index' %}">Data Quality Tool</a></div>
      <div>Convert, Validate, Explore <a class="underline"  title="Go to 360Giving home page" href="http://www.threesixtygiving.org/">360Giving</a> Data</div>
    </div>
  </div>
{% endblock %}


{% block language_select %}{% endblock %}

{% block strapline %}{% endblock %}

{% block bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/fonts/tick/tick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/bootstrap-360.css' %}">
  <noscript>
    <style>
      .collapse {display: initial !important;}
      .glyphicon-collapse-down {display: none !important;}
    </style>
  </noscript>
{% endblock %}

{% block link %}
<li><a href="{% url 'common_errors' %}">Common Errors</a></li>
<li><a href="http://www.threesixtygiving.org/">{% trans "360Giving" %}</a></li>
<li><a href="http://www.threesixtygiving.org/standard/">{% trans "360Giving Data Standard" %}</a></li>
<li><a href="http://www.threesixtygiving.org/contact/">Support</a></li>
{% endblock %}

{% block bottomcontent1 %}
<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="heading-in-panel" ><small>{% blocktrans %}How to use the {% endblocktrans %}{{ app_verbose_name }}</small></h2>
    {% comment %}Translators: Paragraph that describes the application{% endcomment %}
    <p>{% blocktrans %}Upload, paste or provide a link to data in the 360Giving Data Standard format, and this application will convert between JSON, Excel and CSV formats, allowing you to download the original file, and the converted versions.{% endblocktrans %}</p>
    <p>{% blocktrans %}You will also be able to inspect key information from the data that the application is able to find, so that you can check the data.{% endblocktrans %}</p>
    <p>{% trans "This tool will:" %}</p>
    <p class="icon-indent"><span class="font-tick tick"></span>{% trans "Check your data is valid. When it passes these checks, you will know that it is formatted for re-use" %}</p>
    <p>{% trans "It <strong>will not</strong>:" %}</p>
    <p class="icon-indent"><span class="font-tick cross"></span>{% blocktrans %} Check your data is accurate. Read about common data errors and how to check for them in the {% endblocktrans %}<a href="{% url 'common_errors' %}">{% trans "Common Errors " %}</a>{% trans "section" %}.</p>
    <p class="icon-indent"><span class="font-tick cross"></span>{% blocktrans %} Check the data against your own open data policy. Read more about {% endblocktrans %}<a href="http://www.threesixtygiving.org/data/publish-data/">{% trans "Publishing and Using Open Grant Data " %}</a>.</p>
    {% if request.path == "/" %}
    <br>
    <p> {% blocktrans %}To preview how this tool works, try <a href="?source_url=https://github.com/ThreeSixtyGiving/sample-data/blob/master/ExampleTrust-grants-fixed.xlsx?raw=true"> loading some sample data.</a>{% endblocktrans%}</p>
    {% endif %}
    <h3><small>{% blocktrans %}Formats{% endblocktrans %}</small></h3>
    <p>{% blocktrans %}The application accepts data in some of the formats given in the <a href="http://www.threesixtygiving.org/standard/">360Giving Data Standard guidance</a>.</p>
    <p>Acceptable files are: {% endblocktrans %}</p>
    <ul>
      <li>{% blocktrans %}Summary Spreadsheet - OpenDocument Spreadsheet, <a href="https://threesixtygiving-standard.readthedocs.io/en/latest/_static/summary-table/360-giving-schema-titles.xlsx">Excel</a>, <a href="https://threesixtygiving-standard.readthedocs.io/en/latest/templates-csv">CSV</a> (UTF-8, Windows-1252 and ISO-8859-1 encodings supported){% endblocktrans %}</li>
      <li>{% blocktrans %}JSON built to the <a href="http://standard.threesixtygiving.org/en/latest/reference/#giving-json-schemas">360Giving JSON schema</a> (UTF-8 encoding supported){% endblocktrans %}</li>
      <li>{% blocktrans %}<a href="https://threesixtygiving-standard.readthedocs.io/en/latest/_static/multi-table/360-giving-schema-fields.xlsx">Multi-table data package - Excel</a>{% endblocktrans %}</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block bottomcontent2 %}
{% include "cove_360/more_info.html" %}
{% endblock %}
