{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div>
  <h2>{% trans "Common Errors" %}</h2>
  <a id="uri" class="anchor"></a>
  <h3>{% trans "Invalid 'uri' found" %}</h3>
  <p>{% blocktrans %}This message means you have a problem, usually with a website address in your data.<br />Common mistakes include:{% endblocktrans %}</p>
  <ul>
    <li>{% blocktrans %}Not starting the address with 'http://' e.g. example.com is not a 'uri' but http://example.com is.{% endblocktrans %}</li>
    <li>{% blocktrans %}Having extra spaces at the start or end of the address - these should be removed{% endblocktrans %}</li>
    <li>{% blocktrans %}Putting more than one address in the same field e.g. "http://example.com and http:example2.com" is not a 'uri'{% endblocktrans %}</li>
  </ul>
  
  <a id="date-time" class="anchor"></a>
  <h3>{% trans "Date is not in the correct format" %}</h3>
  <p>{% blocktrans %}Dates should be in the formats defined by the <a href="http://www.threesixtygiving.org/standard/reference/">360Giving Standard</a>.{% endblocktrans %}</p>
  <p>{% blocktrans %}Most dates should be in the YYYY-MM-DD format, but the <a href="http://www.threesixtygiving.org/standard/reference/">360Giving Standard</a> sets out the requirements for each field of the standard.{% endblocktrans %}</p>
  <p>{% blocktrans %}Other common errors include{% endblocktrans %}<p>
  <ul>
    <li>{% blocktrans %}providing non-existent dates e.g. 2016-02-31 (31st February){% endblocktrans %}</li>
    <li>{% blocktrans %}non-date content in a date field (by accident){% endblocktrans %}</li>
  </ul>
  <h4>{% blocktrans %}Datetimes (used for Last Modified fields){% endblocktrans %}</h4>
  <p>{% blocktrans %}A datetime format is a very specific form of a date and time that is specified by the <a href="http://www.threesixtygiving.org/standard/reference/">360Giving Standard</a>.{% endblocktrans %}</p>
  <p>{% blocktrans %}A datetime should be in the form of YYYY-MM-DDThh:mm:ss±hh:mm where:{% endblocktrans %}</p>
  <ul>
    <li>{% blocktrans %}YYYY represent a year e.g. 2016{% endblocktrans %}</li>
    <li>{% blocktrans %}MM represents a 2 digit month of the year e.g. 01 for January{% endblocktrans %}</li>
    <li>{% blocktrans %}DD represents a 2 digit day of the month e.g. 01 for the 1st{% endblocktrans %}</li>
    <li>{% blocktrans %}T is simply the letter 'T'{% endblocktrans %}</li>
    <li>{% blocktrans %}hh is a 2 digit representation of an hour e.g. 01 for 1AM, 13 for 1PM{% endblocktrans %}</li>
    <li>{% blocktrans %}mm is a 2 digit representation of minutes in an hour e.g. 05 for 5 past{% endblocktrans %}</li>
    <li>{% blocktrans %}ss is a 2 digit representation of seconds{% endblocktrans %}</li>
    <li>{% blocktrans %}±hh:mm is a timezone offset from UTC. For most UK data producers this can simply be replaced with a 'Z'{% endblocktrans %}</li>
  </ul>
  <p>{% blocktrans %}Example: 2016-05-15T12:00:00Z is 12 noon on the 15th May 2016 in UTC time{% endblocktrans %}</p>
  
  <a id="required" class="anchor"></a>
  <h3>{% trans "(something) is missing but is required" %}</h3>
  <p>{% blocktrans %}Many fields are required in the 360Giving data standard in order for others to make sense of the data supplied{% endblocktrans %}</p>
  <p>{% blocktrans %}If any of the following fields are missing the data is seen as invalid against the schema.{% endblocktrans %}</p>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Field" %}</th><th>{% trans "JSON value" %}</th><th>{% trans "Notes" %}</th><th>{% trans "Documentation" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Amount Awarded</td><td>amountAwarded</td><td>{% blocktrans %}Every grant needs to specify the amount of money awarded{% endblocktrans %}</td><td></td>
      </tr>
      <tr>
        <td>Award Date</td><td>awardDate</td><td>{% blocktrans %}Every grant needs to specify the date that it was awarded.{% endblocktrans %}</td><td></td>
      </tr>
      <tr>
        <td>Currency</td><td>currency</td><td>{% blocktrans %}Every grant needs to specify the currency that the grant was made in.{% endblocktrans %}</td><td></td>
      </tr>
      <tr>
        <td>Description</td><td>description</td><td>{% blocktrans %}Every grant needs a human readable description.{% endblocktrans %}</td><td></td>
      </tr>
      <tr>
        <td>Identifier</td><td>id</td><td>{% blocktrans %}Every grant needs a unique identifier so we can tell them apart{% endblocktrans %}</td><td><a href="http://www.threesixtygiving.org/standard/identifiers/#toc-grant-identifier">{% trans "Grant Identifiers" %}</a></td>
      </tr>
      <tr>
        <td>Funding Org</td><td>fundingOrganization</td><td>{% blocktrans %}Every grant needs a funding organisation that makes the award.{% endblocktrans %}</td><td></td>
      </tr>
      <tr>
        <td>Funding Org:Identifier</td><td>fundingOrganization/id</td><td>{% blocktrans %}Every organisation needs a unique identifier so we can tell them apart..{% endblocktrans %}</td><td><a href="http://www.threesixtygiving.org/standard/identifiers/#toc-organisation-identifier">{% trans "Organisation Identifiers" %}</a></td>
      </tr>
      <tr>
        <td>Funding Org:Name</td><td>fundingOrganization/name</td><td>{% blocktrans %}Every organisation needs a human readable name.{% endblocktrans %}</td><td></td>
      </tr>
      <tr>
      <td>Recipient Org</td><td>recipientOrganization</td><td>{% blocktrans %}Every grant needs a to specify an organisation to which the grant is awarded.{% endblocktrans %}</td><td></td>
      </tr>
      <tr>
      <td>Recipient Org:Identifier</td><td>recipientOrganization/id</td><td>{% blocktrans %}Every organisation a unique identifier so we can tell them apart.{% endblocktrans %}</td><td><a href="http://www.threesixtygiving.org/standard/identifiers/#toc-organisation-identifier">{% trans "Organisation Identifiers" %}</a></td>
      </tr>
      <tr>
      <td>Recipient Org:Name</td><td>recipientOrganization/name</td><td>{% blocktrans %}Every organisation needs a human readable name.{% endblocktrans %}</td><td><a href="http://www.threesixtygiving.org/standard/identifiers/#toc-grant-identifier">{% trans "Grant Identifiers" %}</a></td>
      </tr>
      <tr>
        <td>Title</td><td>title</td><td>{% blocktrans %}Every grant needs a human readable title.{% endblocktrans %}</td><td></td>
      </tr>
    </tbody>
    </table>

    
    <a id="enum" class="anchor"></a>
    <h3>{% trans "Invalid code found in (something)" %}</h3>
    <p>{% blocktrans %}In 360Giving data when we talk about currencies, countries and organisation types we ask publishers to use values from a predefined list. When we ask whether or not this grant was from an open call we expect either 'yes' or no' and nothing else. When we validate people's data, we check the values of those fields against those lists.{% endblocktrans %}</p>
    <p>{% blocktrans %}This error tells us that we have found something not on the list.{% endblocktrans %}</p>
    <p>{% blocktrans %}The lists are referenced in the 360Giving Grants Schema. See <a href="http://www.threesixtygiving.org/standard/reference/#toc-360giving-json-schemas">360Giving JSON Schemas</a> for more information.{% endblocktrans %}</p>
    
    
    <a id="string" class="anchor"></a>
    <h3>{% trans "Value is not a string" %}</h3>
    <p>{% blocktrans %}Data in the standard is expected to be provided in a certain format.{% endblocktrans %}</p>
    <p>{% blocktrans %}Strings are generally text, but can contain other characters such as numbers. Sometimes spreadsheet software can alter the format of data so that it is no longer a string.{% endblocktrans %}</p>
    <p>{% blocktrans %}To fix these kinds of errors, check the field to make sure you are supplying a string.{% endblocktrans %}</p>


    <a id="integer" class="anchor"></a>
    <h3>{% trans "Value is not an integer" %}</h3>
    <p>{% blocktrans %}Integers are basically numbers (but they are not decimals like financial values).{% endblocktrans %}</p>
    <p>{% blocktrans %}Data in the standard is expected to be provided in a certain format. Sometimes spreadsheet software can alter the format of data so that it is no longer a string.{% endblocktrans %}</p>
    <p>{% blocktrans %}To fix these kinds of errors, check the field to make sure you are supplying an integer.{% endblocktrans %}</p>


    <p>&nbsp;</p>


</div>


{% endblock %}
