{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <h2>{% trans "Usefulness" %}</h2>

  <p>
    This page details all of the Usefulness Checks in this instance of the Data Quality Tool.

    The <label> Heading </label> is prefixed by text such as "X of your grants have..." in almost all cases, apart from when the check refers to the whole dataset (eg the multiple Funding Org check). The <label>Message</label> is displayed if the check is triggered. The <label>Method</label> describes how the check works under-the-hood.
  </p>

  <h2> Checks </h2>

  {% for check in checks %}
    <p>
      <label>Heading</label> {{check.heading}}<br/>
      <label>Message</label> {{check.message}}<br/>
      <label>Method</label> {{check.desc}}
    </p>
  {% endfor %}

{% endblock %}