.page-header a {
  /*background: url(http://ocds.wpengine.com/wp-content/uploads/2014/07/logo_web3.png) no-repeat !important;*/
  text-decoration:none;
}

.page-header a.btn {
 float:right
}

h1.application-name {
  margin-top: 0;
}

.title360 {
  font-size: 1.4em;
  margin-top: 32px;
}

.logo360 {
  margin-top: -30px;
}

.language-select {
  margin: 1px 0;
}

#accordion .panel-heading {
    cursor: pointer;
}

#more-information .panel-heading {
    cursor: pointer;
}

.heading-in-panel {
    margin-top:0px;
}

.pointer {
    cursor: pointer;
}

.panel-title a {
  text-decoration:none;
}

.panel-title .glyphicon {
  padding-right:15px;
}

#footer, .above-footer {
  padding-top: 9px;
  margin: 20px 0 40px;
  border-top: 1px solid #eee;
} 

show-open-if-noscript {
  display:block;
}

#footer ul {
  padding-left: 0;
}

#footer ul li {
  list-style-type: none;

}

.thumbnail {
 background-color: #f4f8fb;
 text-align: center;
 }

.copy-button {
  padding: 3px;
  position: relative;
  top: -2px;
  right: -5px;
  color: grey
}

.copy-div {
  margin-bottom: 5px;
  margin-top: -3px
}

.copy-span {
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 4px;
}

a:hover {
 cursor:pointer;
}

.left-space {
  margin-left:10px
}

.indent {
  padding-left:20px
}

.success-button {
  padding-bottom: 20px;
}

.spinner {
  margin-bottom: 20px;
}

.explanation {
  font-size: 1.2em;
}

a.anchor::before {
  display: block;
  content: " ";
  margin-top: -30px;
  height: 30px;
  visibility: hidden;
}

.message  {
  margin-left:30px;
  margin-bottom: 10px;
}
.message span {
  margin-left: -30px;
  padding-right:15px;
}
.key-facts ul {
  padding-left: 15px;
}
