{% extends 'base_generic.html' %}
{% load i18n %}

{% block link %}
<li><a href="http://threesixtygiving.org/">{% trans "Three Sixty Degree Giving" %}</a></li>
<li><a href="http://docs.threesixtygiving.org/">{% trans "360 Giving Data Standard" %}</a></li>
{% endblock %}

{% block aboveFooter %}
<div class="above-footer">
  <h2><small>{% blocktrans %}How to use the {{ application_name }}{% endblocktrans %}</small></h2>
  {% comment %}Translators: Paragraph that describes the application{% endcomment %}
  <p>{% blocktrans %}
  Upload, paste or provide a link to data in the 360 Giving Data Standard format, and this application will convert between JSON, Excel and CSV formats, allowing you to download the original file, and the converted versions.{% endblocktrans %}</p>
  
  <p>{% blocktrans %}You will also be able to inspect key information from the data that the application is able to find, so that you can check the data.{% endblocktrans %}</p>
  
  <h2><small>{% trans "Why provide converted versions?" %}</small></h2>
  <p>{% blocktrans %}
  The W3C <a href="http://www.w3.org/TR/dwbp/">Data on the Web Best Practices</a> recommend making open data available in a range of formats to meet the needs of different users, for example, developers may want JSON, researchers might prefer a spreadsheet format.
  {% endblocktrans %}</p>
</div>
{% endblock %}
