<!doctype html>
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load i18n %}
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block after_head %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block bootstrap_css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  {% endblock %}

  <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
  
  <title>{{ application_name }} {% block title %}{% endblock %}</title>
</head>
<body>
  {% block banner %}
  <div style="background-color: orange; color: black; width: 100%; text-align: center; font-weight: bold; right: 0; left: 0">This tool is <em>alpha</em>. Please report any problems on <a href="https://github.com/OpenDataServices/cove/issues">GitHub issues</a>.</div>
  {% endblock banner %}
  {% block full_width_header %}
  {% endblock %}
    
  <div class="container">
    {% block page_header %}
    <div class="page-header">
        <div class="row">
          <div class="col-md-8">
            {% block h1 %}<h1 class="application-name"><a href="{% url 'cove:index' %}">{{ application_name }}</a></h1>{% endblock %}
            {% block strapline %}<p>{{ application_strapline }}</p>{% endblock %}
          </div><!--col-md-8-->
          <div class="col-md-2">
            <form class="language-select" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <select name="language" onchange="this.form.submit()">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
              </option>
              {% endfor %}
              </select>
              <noscript>
                {# Translators: Label of a button that triggers search #}
                <input type="submit" value={% trans "Go" %} />
              </noscript>
            </form>
          </div><!--col-md-2-->
          <div class="col-md-2">
            {% block header_button %}
            {% endblock %}
          </div>
        </div><!--row-->
    </div><!--page-header-->
    {% endblock %}
  
  {% block content %}
  {% endblock %}
  </div><!-- /.container -->
  
  <div class="container">
    
  {% block introduction %}
  {% endblock %}

  {% block howToUse %}
  {% endblock %}
  
  <div id="more-information" class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#more-information-body">
      <h3 class="panel-title"> {% blocktrans %}More Information {% endblocktrans %} <small> {% blocktrans %}click to see.{% endblocktrans %} </small></h3>
    </div>

    <div id="more-information-body" class="panel-body">
    <div class="panel-body">
    {% block deletingData %}
      <h2 class="heading-in-panel"><small>{% trans "What happens to the data I provide to this site?" %}</small></h2>
        <p>{% blocktrans %}We retain the data you upload or paste to this site, on our server, for 7 days.{% endblocktrans %}</p>
        <p>{% blocktrans %}If you supply a link, we fetch the data from that link and store it on our server for 7 days.{% endblocktrans %}</p>
        <p>{% blocktrans %}We delete all data older than 7 days from our servers daily, retaining none of the original data.{% endblocktrans %}</p>
        <p>{% blocktrans %}While the data is on our servers we may access that data to help us understand how people are using this application, what types of data are being supplied, what common errors exist and so on.{% endblocktrans %}</p>
        <p>{% blocktrans %}We may also retain data in backups of our servers, which means on occassion, some data may be retained longer. We have no intention of using this data for anything other than server recovery in an emergency.{% endblocktrans %}</p>
        <p>{% blocktrans %}We do retain some metadata about data supplied to this site. Details can be found in the code, but may include information about whether or not the file was uploaded, linked or pasted, the size of the file, the date/time it was supplied and so on. {% endblocktrans %}</p>

      <h2><small>{% trans "Why do you delete data after 7 days?" %}</small></h2>
        <p>{% blocktrans %}This is service to allow people to explore machine readable data. As such we see no need to store and gather everything people submit to the site forever. We have chosen 7 days as a practical time frame that allows people to share results with collegues, but also allows data to disappear over time to save people having to clean up after themselves.{% endblocktrans %}</p>
        <p>{% blocktrans %}We believe that deleting supplied data after 7 days provides a level of privacy for the users of this service. {% endblocktrans %}</p>
    {% endblock %}

    {% block whyConvert %}
      <h2><small>{% trans "Why provide converted versions?" %}</small></h2>
      <p>{% blocktrans %}The W3C{% endblocktrans %} <a href="http://www.w3.org/TR/dwbp/">{% blocktrans %}Data on the Web Best Practices{% endblocktrans %}</a> {% blocktrans %}recommend making open data available in a range of formats to meet the needs of different users, for example, developers may want JSON, researchers might prefer a spreadsheet format.{% endblocktrans %}</p>
    {% endblock %}
    </div>
    </div>
  </div>

  </div><!-- /.container -->

  <div class="container">
    <div id="footer">
      <div class="row">
        <div class="col-md-6">
          <h4>{% trans "About" %}</h4>
          <ul class="text-muted">
            <li>{% trans "Built by" %} <a href="http://opendataservices.coop/">{% trans "Open Data Services" %}</a></li>
            <li>{% trans "The code for this site is available on" %}<br>{% trans "GitHub" %}: <a href="https://github.com/OpenDataServices/cove/">{%trans "Cove - COnvert Validate & Explore" %}</a><br>{% trans "Licence" %}: <a href="https://www.gnu.org/licenses/agpl-3.0.html">{% trans "AGPLv3" %}</a><br>{% trans "Report/View issues" %}: <a href="https://github.com/OpenDataServices/cove/issues">{% trans "Cove Issues" %}</a>
            </li>
          </ul>
          <ul class="text-muted">
            <li><a href="{% url 'cove:terms' %}">{% trans "Terms &amp; Conditions" %}</a></li>
          </ul>
          {% comment %}Translators: Provides information about the version of the code base that is being used{% endcomment %}
          <p class="text-muted">{% blocktrans %}Running version {% endblocktrans %}<a href="https://github.com/OpenDataServices/cove/tree/{{request.tag}}">{{request.tag}}</a></p>
        </div>
        <div class="col-md-6">
          <h4>{% trans "Links" %}</h4>
          <ul class="text-muted">
            {% block link %}
            {% endblock %}
          </ul>
        </div>
      </div>
      
      {% block extrafooter %}{% endblock %}
    </div><!-- end footer -->
  </div>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  {% bootstrap_javascript %}
  {% block extrafooterscript %}{% endblock %}
  <script type="text/javascript">
     $("#more-information-body").attr('class', 'collapse');
  </script>

  {% if piwik.url and piwik.site_id %}
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    {% block extrapiwik %}{% endblock %}
    {% get_current_language as LANGUAGE_CODE %}
    {% if piwik.dimension_map.language %}
      _paq.push(['setCustomDimension', {{piwik.dimension_map.language}}, '{{ LANGUAGE_CODE }}']);
    {% endif %}
    {% if piwik.dimension_map.exit_language %}
      _paq.push(['setCustomDimension', {{piwik.dimension_map.exit_language}}, '{{ LANGUAGE_CODE }}']);
    {% endif %}
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="{{ piwik.url }}";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', {{ piwik.site_id }}]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="{{ piwik.url }}/piwik.php?idsite={{ piwik.site_id }}" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
  {% endif %}
  {% if google_analytics_id %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics_id }}', 'auto');
    ga('send', 'pageview');
  </script> 
  {% endif %}
</body>
</html>
