<!doctype html>
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load i18n %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="{% static 'dataexplore/favicon.png' %}">
  <title>{{ application_name }} {% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container">
  <h1>ResourceProjects DataLoad Dashboard</h1>

  {% block content %}
  {% endblock %}
  </div><!-- /.container -->
</body>
</html>
