{% extends 'base_generic.html' %}
{% load i18n %}
{% load static %}

{% block h1 %}
  <div class="row">
    <div class="col-md-2">
        <a href="{% url 'cove:index' %}"><img src="{% static 'dataexplore/360Giving-logo.png' %}" alt="360Giving Logo" width=270 height=270 class="logo360"/></a>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <div class="title360"><a href="{% url 'cove:index' %}">Data Quality Tool</a></div>
      <div>Convert, Validate, Explore 360Giving Data</div>
    </div>
  </div>
{% endblock %}

{% block strapline %}{% endblock %}

{% block link %}
<li><a href="http://www.threesixtygiving.org/">{% trans "360Giving" %}</a></li>
<li><a href="http://www.threesixtygiving.org/standard/">{% trans "360Giving Data Standard" %}</a></li>
<li><a href="http://www.threesixtygiving.org/contact/">Support</a></li>
{% endblock %}

{% block howToUse %}
<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="heading-in-panel" ><small>{% blocktrans %}How to use the {% endblocktrans %}{{ application_name }}</small></h2>
    {% comment %}Translators: Paragraph that describes the application{% endcomment %}
    <p>{% blocktrans %}Upload, paste or provide a link to data in the 360Giving Data Standard format, and this application will convert between JSON, Excel and CSV formats, allowing you to download the original file, and the converted versions.{% endblocktrans %}</p>

    <p>{% blocktrans %}You will also be able to inspect key information from the data that the application is able to find, so that you can check the data.{% endblocktrans %}</p>

    <h3><small>{% blocktrans %}Formats{% endblocktrans %}</small></h3>
    <p>{% blocktrans %}The application accepts data in some of the formats given in the <a href="http://www.threesixtygiving.org/standard/">360Giving Data Standard guidence</a>.
    <br>Acceptable files are: {% endblocktrans %}</p>
    <ul>
      <li>{% blocktrans %}Summary Spreadsheet - <a href="https://github.com/ThreeSixtyGiving/standard/raw/master/schema/summary-table/360-giving-schema-titles.xlsx">Excel</a>, <a href="https://github.com/ThreeSixtyGiving/standard/raw/master/schema/summary-table/360-giving-schema-titles.csv/grants.csv">CSV</a>{% endblocktrans %}</li>
      <li>{% blocktrans %}JSON built to the <a href="http://www.threesixtygiving.org/standard/reference/#toc-360giving-json-schemas">360Giving JSON schema</a>{% endblocktrans %}</li>
      <li>{% blocktrans %}<a href="https://github.com/ThreeSixtyGiving/standard/raw/master/schema/multi-table/360-giving-schema-fields.xlsx">Multi-table data package - Excel</a>{% endblocktrans %}</li>
    </ul>
  </div>
</div>
{% endblock %}

