{% load i18n %}
{% load cove_tags %}

<table class="table">
   <thead>
      <tr>
        <th class="col-md-3">{% trans "Field" %}</th>
         <th>{% trans "Details" %}</th>
         <th>{% trans "Path to Field" %}</th>
         <th class="col-md-2">{% trans "Usage Count" %}</th>
      </tr>
   </thead>
   <tfoot class="small-tfoot">
      {% get_current_language as LANGUAGE_CODE %}
      <tr><td colspan="4">
         {% comment %} TODO: replace hardcoded `1.1-dev` in href below with {{version}} variable whenever available {% endcomment %}
         <small><a href="http://standard.open-contracting.org/1.1-dev/{{LANGUAGE_CODE}}/schema/deprecation/">{% trans "Learn more about deprecated fields" %}</a></small>
      </td></tr>
   </tfoot>
   <tbody>
   {% for field, details in deprecated_fields.items %}
      <tr>
         <td>{{field}}</td>
         {% blocktrans with version=details.explanation.0 description=details.explanation.1 %}
         <td>Deprecated in {{version}}: {{description}}.</td>
         {% endblocktrans %}
         <td>{% for path in details.paths %}<p>{{path}}</p>{% endfor %}</td>
         <td>{{paths|length}}</td>
      </tr>
   {% endfor %}
   </tbody>
</table>
