{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">{{ sub_title | linebreaks }}</div>
  <div class="panel-body">
    {{ msg | linebreaks }}

    <p>{% blocktrans %}If you think this is a bug, you can <a href="https://github.com/OpenDataServices/cove/issues">file an issue publicly on GitHub</a> or {% endblocktrans %}<a href="mailto:{{support_email}}">{% trans "get in touch via email" %}</a>.
  </div>
</div>


<a class="btn btn-success" href="{% url link %}" role="button">{{ link_text }}</a>



{% endblock %}
