{% extends 'base.html' %}
{% load i18n %}
{% load cove_tags %}

{% block header_button %}
  <a href="{% url 'cove:index' %}" class="btn btn-large btn-success">{% trans 'Load New File' %}</a>
{% endblock %}

{% block content %}

  {% trans 'Converted from Original' as converted %}
  {% trans 'Original' as original %}
  {% trans 'Excel Spreadsheet (.xlsx)' as xlsx %} 
  {% trans 'CSV Spreadsheet (.csv)' as csv %} 
  {% trans 'Excel Spreadsheet (.xlsx) with titles' as xlsx_titles %} 
  {# Translators: JSON probably does not need a transalation: http://www.json.org/ #}
  {% trans 'JSON' as JSON %}

  {% block explore_content %}
  {% endblock %}

{% endblock %}



{% block extrafooterscript %}
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function() {
        ZeroClipboard.config({swfPath: "http://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf"})
        var client = new ZeroClipboard( document.getElementById('copy-url-button') );
        rowCount = $('.result-table')[0].rows.length;
        if (rowCount < 10000) {
           $('.result-table').DataTable({
               "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ]
           });
        }
    });
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
        $("#validationTable").on("hide.bs.collapse", function(){
          $("#validation-panel.panel-heading").html('<h4 class="panel-title"><span class="glyphicon glyphicon-collapse-down"></span>{% trans "Validation Errors" %}</h4>');
        });
        $("#validationTable").on("show.bs.collapse", function(){
          $("#validation-panel.panel-heading").html('<h4 class="panel-title"><span class="glyphicon glyphicon-collapse-up"></span>{% trans "Validation Errors" %}</h4>');
        });
  </script>
  <script type="text/javascript">
        $("#additionalFieldTable").on("hide.bs.collapse", function(){
          $("#additional-fields-panel .our-title").html('<span class="glyphicon glyphicon-collapse-down"></span>{% trans "Additional Fields (fields in data not in schema)" %}');
        });
        $("#additionalFieldTable").on("show.bs.collapse", function(){
          $("#additional-fields-panel .our-title").html('<span class="glyphicon glyphicon-collapse-up"></span>{% trans "Additional Fields (fields in data not in schema)" %}');
        });
  </script>
{% endblock %}

{% block extrapiwik %}
{% if piwik.dimension_map.file_type %}
_paq.push(['setCustomDimension', {{piwik.dimension_map.file_type}}, '{{file_type}}']);
{% endif %}
{% if piwik.dimension_map.page_type %}
_paq.push(['setCustomDimension', {{piwik.dimension_map.page_type}}, '{% if first_render %}explore initial{% else %}explore reload{% endif %}']);
{% endif %}
{% if first_render %}
{% if piwik.dimension_map.form_name %}
_paq.push(['setCustomDimension', {{piwik.dimension_map.form_name}}, '{{ form_name }}']);
{% endif %}
{% endif %}
{% endblock %}
