{% extends 'base.html' %}
{% block content %}

{% load i18n %}
{% trans 'Converted from Original' as converted %}
{% trans 'Original' as original %}
{% trans 'Excel Spreadsheet (.xlsx)' as xlsx %} 
{# Translators: JSON probably does not need a transalation: http://www.json.org/ #}
{% trans 'JSON' as JSON %}

<!--Download Converted Files-->
<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>{% trans 'Download Files' %}
    </h4>
  </div>
      
  <div class="panel-body">
    {% if conversion == 'flatten' %}
      <ul>
        <li><a href="{{converted_url}}.xlsx">{% blocktrans with file_format=xlsx status=converted %}{{file_format}} ({{status}}){% endblocktrans %}</a></li>
        <li><a href="{{original_file.url}}">{% blocktrans with file_format=JSON status=original %}{{file_format}} ({{status}}){% endblocktrans %}</a></li>
      </ul>    
    {% elif conversion == 'unflatten' %}
      <ul>
        <li><a href="{{original_file.url}}">{% blocktrans with file_format=xlsx status=original %}{{file_format}} ({{status}}){% endblocktrans %}</a></li>
        <li><a href="{{converted_url}}">{% blocktrans with file_format=JSON status=converted %}{{file_format}} ({{status}}){% endblocktrans %}</a></li>
      </ul>
    {% endif %}
  </div>
</div>

<!-- Count of Releases -->
<div class="row">
  {% if schema_url %}

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Validates against the schema?' %}</h4>
      </div>
      <div class="panel-body">
        {% if validation_error_list %}No{% else %}Yes{% endif %}
      </div>
    </div>
  </div>

  {% endif %}

  {% if releases_aggregates %}

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Number of releases' %}</h4>
      </div>
      <div class="panel-body">
        {{releases_aggregates.count}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% blocktrans with number_of_ocids=releases_aggregates.unique_ocids|length %}Unique OCIDs ({{number_of_ocids}}){% endblocktrans %}
        </h4>
      </div>
      <div class="panel-body">
        <ul>
        {% for ocid in releases_aggregates.unique_ocids %}
        <li>{{ocid}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% trans "Release Dates" %}
        </h4>
      </div>
      <div class="panel-body">
        {% trans "Earliest:" %} {{releases_aggregates.earliest_release_date}}
        <br>
        {% trans "Latest:" %} {{releases_aggregates.latest_release_date}}
      </div>
    </div>
  </div>

  {% elif grants_aggregates %}

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Number of grants' %}</h4>
      </div>
      <div class="panel-body">
        {{grants_aggregates.count}}
      </div>
    </div>
  </div>

  {% endif %}
</div>
{% endblock %}
