{% extends 'explore.html' %}
{% load i18n %}

{% block explore_content %}
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Number of releases' %}</h4>
      </div>
      <div class="panel-body">
        {{releases_aggregates.count}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% blocktrans with number_of_ocids=releases_aggregates.unique_ocids|length %}Unique OCIDs ({{number_of_ocids}}){% endblocktrans %}
        </h4>
      </div>
      <div class="panel-body">
        <ul>
        {% for ocid in releases_aggregates.unique_ocids %}
        <li>{{ocid}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% trans "Release Dates" %}
        </h4>
      </div>
      <div class="panel-body">
        {% trans "Earliest:" %} {{releases_aggregates.earliest_release_date}}
        <br>
        {% trans "Latest:" %} {{releases_aggregates.latest_release_date}}
      </div>
    </div>
  </div>
</div><!--End Row -->
<div class="row"> <!--Start Row (Detail Table)-->
  <div class="col-md-12">
    <table class="table table-striped">
      <caption>{% trans "Releases Table:" %}</caption>
      <thead>
        <tr>
          <th>ocid</th>
          <th>tender:items:[]:description</th>
          <th>buyer:name</th>
        </tr>
      </thead>
      <tbody>
        {% for release in json_data.releases %}
        <tr>
          <td>{{ release.ocid }}</td>
          <td>
            <ul>
              {% for item in release.tender.items %}
                <li>{{ item.description }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ release.buyer.name }}</td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
