{% extends 'explore.html' %}
{% load i18n %}
{% load cove_tags %}

{% block explore_content %}

  {% block data_supplied %}
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-target="#data-supplied-body" {% if conversion == 'flattenable' %}aria-expanded="true"{% endif %}>
        <h3 class="panel-title panel-title-explore"> 
          <span class="font-tick tick" aria-hidden="true"></span>
          Data Supplied
          <span class="pull-right glyphicon glyphicon-collapse-{% if conversion == 'flattenable' %}up{% else %}down{% endif %}"></span>
        </h3>
      </div>
      <div id="data-supplied-body" class="collapse {% if conversion == 'flattenable' %}in{% endif %}">
        <div class="panel-body">
           <p class="explanation">
             {% trans "A file was " %} 
             {% if source_url %}
                {% trans "downloaded from " %} {{source_url}} 
             {% else %}
               {% trans "uploaded " %} 
             {% endif %}
             {% trans "on " %} {{created_date}}.
           </p>
           <br>
           <ul class="left-space">
             <li>
               {% blocktrans count n_grants=grants_aggregates.count %}This file contains {{n_grants}} grant.{% plural %}This file contains {{n_grants}} grants.{% endblocktrans %}
              </li>
              {% if csv_encoding and csv_encoding != "utf-8" %}
             <li>
              {% blocktrans %} This file is not 'utf-8' encoded (it is <strong>{{csv_encoding}}</strong> encoded).{% endblocktrans %}
             </li>
             {% endif %}
           </ul>
        {% if conversion == 'flattenable' %}
          <form method="post">
            <button name="flatten" value="true" type="submit" class="btn btn-success btn-sm pull-right">{% trans "Convert to Spreadsheet" %}</button>
            {% csrf_token %}
          </form>
        {% endif %}
        </div>
      </div>
    </div>
  {% endblock data_supplied %}

  {% block conversion %}
  {% if conversion == 'unflatten' or conversion == 'flatten'%}
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-target="#conversion-body">
        <h3 class="panel-title panel-title-explore"> 
          <span class="font-tick tick" aria-hidden="true"></span>
          {% trans "Converted to " %}{% if conversion == 'unflatten'%} JSON {% else %} Spreadsheet{% endif %}
          {% if conversion_warning_messages %}
            <small>{% blocktrans count n_warnings=conversion_warning_messages|length %}{{n_warnings}} Warning.{% plural %}{{n_warnings}} Warnings.{% endblocktrans %}</small>
          {% endif %}
          <span class="glyphicon glyphicon-collapse-down pull-right"></span>
        </h3>
      </div>
      <div id="conversion-body" class="collapse">
        <div class="panel-body">
          {% if conversion == 'unflatten' %}
            <p class="explanation">{% trans "In order to validate your data we needed to convert it to JSON." %}</p>
          {% else %}
            <p class="explanation">We have converted your JSON data into spreadsheet format.</p>
            {% if conversion_error %}
                <p>{% blocktrans %}The JSON data could not be converted to spreadsheet due to the following error error: {{conversion_error}}{% endblocktrans %}</p>
                {% include 'error_extra.html' %}
            {% endif %}
          {% endif %}
          {% if conversion_warning_messages %}
            <br>
            <p>{% trans "Conversion <strong>warnings:</strong>" %}</p>
            <ul class="left-space">
              {% for warning_message in conversion_warning_messages %}
                <li>{{warning_message}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {% endblock conversion %}

  {% block validation %}
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#validation-body">
      <h3 class="panel-title panel-title-explore">
        {% if validation_errors %}
           <span class="font-tick cross" aria-hidden="true"></span>
           {% trans "Invalid against schema " %}<small>{% blocktrans count n_errors=validation_errors_count %} {{n_errors}} Error.{% plural %}{{n_errors}} Errors {% endblocktrans %}</small>
        {% else %}
           <span class="font-tick tick" aria-hidden="true"></span>
          {% trans "Valid against schema" %}
        {% endif %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="validation-body" class="collapse">
      <div class="panel-body">
        <p class="explanation">
        {% if validation_errors %}
            {% trans "Sorry your data is invalid against " %}<a href="http://www.threesixtygiving.org/standard/reference/#toc-360giving-json-schemas">360Giving JSON Package Schema</a>
        </p>
        <br>
        <p>{% trans "Validation <strong>errors</strong>:" %}</p>
        {% include "validation_table.html" %}
        {% else %}
          {% trans "Congratulations! Your data is valid." %}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock validation %}

  {% block additional_fields %}
  {% if data_only %}
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#additional-fields-body">
      <h3 class="panel-title panel-title-explore"> 
        <span class="font-tick question" aria-hidden="true"></span>
        {% trans "Additional fields found" %} <small>{% blocktrans count n_additional_fields=additional_fields_count %} Additional Field{% plural %}{{n_additional_fields}} Additional Fields{% endblocktrans %}</small>
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
      <span class="heading-explanation">{% trans "Additional fields were found in your data. Check them to see if they were intended or are actually spelling mistakes." %}</span>
    </div>
    <div id="additional-fields-body" class="collapse">
      <div class="panel-body">
      {% include "additional_fields_table.html" %}
      </div>
     </div>
  </div>
  {% endif %}
  {% endblock additional_fields %}

  {% block save_and_share %}
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#save-and-share-body">
      <h3 class="panel-title panel-title-explore"> 
        {% trans "Download and Share" %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="save-and-share-body" class="collapse {% if conversion == 'flatten' %}in{% endif %}">
      <div class="panel-body">
        <h4><span class="glyphicon glyphicon-save"></span> Download</h4>
        <p>{% trans "The following files are available to download:" %}</p>
        <ul class="left-space">
          <li>
            <a href="{{original_file.url}}">{% trans "Original file" %} ({{file_type}})</a> {{original_file.size|filesizeformat }}
          </li>
          {% if not conversion_error %}
            {% if conversion == 'unflatten' %}
            <li>
              <a href="{{converted_url}}">{{JSON}} ({% trans converted %})</a> {{converted_file_size|filesizeformat }}
            </li>
            {% elif conversion == 'flatten' %}
            <li>
              <a href="{{converted_url}}.xlsx">{{xlsx}} ({% trans converted %})</a> {{converted_file_size|filesizeformat }}
            </li>
              {% if request.cove_config.convert_titles %}
              <li>
                <a href="{{converted_url}}-titles.xlsx">{{xlsx_titles}} ({% trans converted %})</a> {{converted_file_size_titles|filesizeformat }}
              </li>
              {% endif %}
            {% endif %}
          {% endif %}
        </ul>
        <h4><span class="glyphicon glyphicon-share"></span> Share</h4>
        <p>{% trans "Use the following url to share these results:" %}</p>
        <div class="copy-div">
            <span class="copy-span"> {{ current_url }} <span id="copy-url-button" title="Click to copy." data-clipboard-text={{ current_url }} class="btn copy-button glyphicon glyphicon-copy" aria-hidden="true"></span> </span>
        </div>
        {% comment %}Translators: Paragraph that describes the application{% endcomment %}
        <br>
        <p>{% blocktrans %}After 7 days all uploaded data is deleted from our servers, and the results will no longer be available. Anyone using the link to this page after that will be show a message that tells them the file has been removed.{% endblocktrans %}</p>
        <p>{% blocktrans %}These results will be available for 7 days from the day the data was first uploaded. You can revisit these results until then.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
  {% endblock save_and_share %}

{% endblock explore_content %}

{% block extrafooterscript %}
  {{ block.super }} 
  <script type="text/javascript">
    $("[data-toggle='collapse']").click(function() {
      var $this = $(this);
      if($this.attr("aria-expanded") === "true"){
        $this.find('.glyphicon').removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down')
      } else {
        $this.find('.glyphicon').removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up')
      }
    });
  </script>
{% endblock extrafooterscript %}


{% comment %}
  <div class="col-md-6">
    <div class="panel {% if validation_errors %}panel-danger{% elif conversion_warning_messages or conversion_warning_messages_titles %}panel-warning{% else %}panel-success{% endif %}">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Headlines' %}</h4>
      </div>
      <div class="panel-body">

         <div class="key-facts message">
           <strong>At a glance</strong>
           <ul>
              <!-- This should go in the Potential Issues / Key Field Information section -->
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
             {% blocktrans count count=grants_aggregates.count %}This file contains {{count}} grant.{% plural %}This file contains {{count}} grants.{% endblocktrans %}
             </li>
              
             {% if grants_aggregates.duplicate_ids %} 
             <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                  {% blocktrans count count=grants_aggregates.duplicate_ids|length %}There is {{ count }} <a href="#key-field-info">duplicate grant ID</a> in this package.{% plural %}There are {{ count }} <a href="#key-field-info">duplicate grant IDs</a> in this package.{% endblocktrans %}
             </li>
             {% endif %}
             {% if grants_aggregates.recipient_org_identifiers_unrecognised_prefixes %} 
             <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                  {% blocktrans count count=grants_aggregates.recipient_org_identifiers_unrecognised_prefixes|length %}There is {{ count }} <a href="#key-field-info">unrecognised recipient organisation prefix</a> in this package.{% plural %}There are {{ count }} <a href="#key-field-info">unrecognised recipient organisation prefixes</a> in this package.{% endblocktrans %}
             </li>
             {% endif %}
             {% if grants_aggregates.funding_org_identifiers_unrecognised_prefixes %} 
             <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                  {% blocktrans count count=grants_aggregates.funding_org_identifiers_unrecognised_prefixes|length %}There is {{ count }} <a href="#key-field-info">unrecognised funding organisation prefix</a> in this package.{% plural %}There are {{ count }} <a href="#key-field-info">unrecognised funding organisation prefixes</a> in this package.{% endblocktrans %}
             </li>
             {% endif %}
           </ul>
         </div>
      </div>
    </div>
  </div>
  
<a id="key-field-info"></a>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Key Field Information' %}</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <b>{% trans "Grants:" %}</b> {{grants_aggregates.count}}
            <br/>
            <b>{% trans "Grant IDs:" %}</b> {{grants_aggregates.id_count}}
            <br/>
            <a data-toggle="modal" data-target=".unique-ids">
              <b>{% trans "Unique Grant IDs:" %}</b> {{grants_aggregates.unique_ids|length}}
            </a>
            <br/>
            {% if grants_aggregates.duplicate_ids %}
              <a data-toggle="modal" data-target=".duplicate-id-modal">
                <b>{% trans "Duplicate IDs:" %}</b> {{grants_aggregates.duplicate_ids|length}}
              </a>
            {% else %}
              <b>{% trans "Duplicate IDs:" %}</b> {{grants_aggregates.duplicate_ids|length}}
            {% endif %}
            <br/>
            <b>{% trans "Currencies Used Count:" %}</b> {{grants_aggregates.distinct_currency|length}}
          </div>
          <div class="col-md-4">
            <b>{% trans "First Award Date:" %}</b> {{grants_aggregates.min_award_date}}
            <br/>
            <b>{% trans "Last Award Date:" %}</b> {{grants_aggregates.max_award_date}}
            <br/>
            <b>{% trans "Highest Award Amount:" %}</b> {{grants_aggregates.max_amount_awarded}}
            <br/>
            <b>{% trans "Lowest Award Amount:" %}</b> {{grants_aggregates.min_amount_awarded}}
            <br/>
            <b>{% trans "Currencies Used:" %}</b> {{grants_aggregates.distinct_currency|join:", "}}
            <br/>
          </div>
          <div class="col-md-4">
            <a data-toggle="modal" data-target=".distinct-funding-org-identifier">
              <b>{% trans "Funder Organisation IDs:" %}</b> {{grants_aggregates.distinct_funding_org_identifier|length}}
            </a>
            <br/>
            <a data-toggle="modal" data-target=".funding-org-identifier-prefixes">
              <b>{% trans "Good Funding Org ID Prefixes:" %}</b> {{grants_aggregates.funding_org_identifier_prefixes|length}}
            </a>
            <br/>
            <a data-toggle="modal" data-target=".funding-org-identifiers-unrecognised-prefixes">
              <b>{% trans "Unrecognised Funding Org ID Prefixes:" %}</b> {{grants_aggregates.funding_org_identifiers_unrecognised_prefixes|length}}
            </a>
            <br/>
            <a data-toggle="modal" data-target=".distinct-recipient-org-identifier">
              <b>{% trans "Recipient Organisation IDs:" %}</b> {{grants_aggregates.distinct_recipient_org_identifier|length}}
            </a>
            <br/>
            <a data-toggle="modal" data-target=".recipient-org-identifier-prefixes">
              <b>{% trans "Good Recipient Org ID Prefixes:" %}</b> {{grants_aggregates.recipient_org_identifier_prefixes|length}}
            </a>
            <br/>
            <a data-toggle="modal" data-target=".recipient-org-identifiers-unrecognised-prefixes">
              <b>{% trans "Unrecognised Recipient Org ID Prefixes:" %}</b> {{grants_aggregates.recipient_org_identifiers_unrecognised_prefixes|length}}
            </a>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--End Row -->

{% cove_modal_list className="duplicate-id-modal" modalTitle="Duplicate IDs" itemList=grants_aggregates.duplicate_ids %}
{% cove_modal_list className="distinct-funding-org-identifier" modalTitle="Funder Organisation IDs" itemList=grants_aggregates.distinct_funding_org_identifier %}
{% cove_modal_list className="funding-org-identifier-prefixes" modalTitle="Funding Organisation ID Prefixes" itemList=grants_aggregates.funding_org_identifier_prefixes %}
{% cove_modal_list className="funding-org-identifiers-unrecognised-prefixes" modalTitle="Unrecognised Funding Organisation ID Prefixes" itemList=grants_aggregates.funding_org_identifiers_unrecognised_prefixes %}
{% cove_modal_list className="distinct-recipient-org-identifier" modalTitle="Recipient Organisation IDs" itemList=grants_aggregates.distinct_recipient_org_identifier %}
{% cove_modal_list className="recipient-org-identifier-prefixes" modalTitle="Recipient Organisation ID Prefixes" itemList=grants_aggregates.recipient_org_identifier_prefixes %}
{% cove_modal_list className="recipient-org-identifiers-unrecognised-prefixes" modalTitle="Unrecognised Recipient Organisation ID Prefixes" itemList=grants_aggregates.recipient_org_identifiers_unrecognised_prefixes %}
{% cove_modal_list className="unique-ids" modalTitle="Unique IDs" itemList=grants_aggregates.unique_ids %}

<div class="modal fade distinct-funding-orgs" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h5 class="modal-title">Recipient Organisation IDs</h5>
      </div>
      <ul class="list-group">
        {% for id in grants_aggregates.distinct_funding_org_identifier %}
           <li class="list-group-item">{{ id }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<div class="row"> <!--Start Row (Detail Table)-->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% trans 'Grants Table' %}
        </h4>
      </div>
      <div class="panel-body">
          <table class="table table-striped result-table">
            <thead>
              <tr>
                <th>id</th>
                <th>title</th>
                <th>currency</th>
                <th>amountAwarded</th>
                <th>dateModified</th>
              </tr>
            </thead>
            <tbody>
              {% for grant in json_data.grants|slice:":5000" %}
              <tr>
                <td>{{ grant.id }}</td>
                <td>{{ grant.title }}</td>
                <td>{{ grant.currency }}</td>
                <td>{{ grant.amountAwarded }}</td>
                <td>{{ grant.dateModified }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div><!--End Row-->
<!-- Potential Issues / Key Field Information  -->
{% endcomment %}

