{% extends 'explore.html' %}
{% load i18n %}
{% load cove_tags %}
{% block header_button %}
  <a href="{% url 'cove:index' %}" class="btn btn-large btn-success">{% trans 'Load New File' %}</a>
{% endblock %}

{% block explore_content %}
<div class="row">

{% block key_facts %}
{% endblock %}

{% block converted_files %}

<!--Download Converted Files-->
  <div class="col-md-6">
    <div class="panel {% if conversion_error %}panel-danger{% elif conversion_warning_messages or conversion_warning_messages_titles %}panel-warning{% else %}panel-success{% endif %}">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% trans 'Convert' %}
        </h4>
      </div>
          
      <div class="panel-body">
        <div class="conversion message">
          {% if conversion_warning_messages or conversion_warning_messages_titles %}
            <p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>There were <a href="#conversion-warning">conversion warnings</a> when processing your file. The converted data may not represent your data as you want it to be.</p>
          {% endif %}
          {% if conversion == 'flatten' %}
            <p>We have tried to convert your JSON into a spreadsheet format.</p><p>The results can be seen below.</p>
            <ul class="list-unstyled left-space">
              <li>
                <a href="{{original_file.url}}">{{JSON}} ({{original}})</a> {{original_file.size|filesizeformat }}
              </li>
              {% if not conversion_error %}
                <li>
                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{converted_url}}.xlsx">{{xlsx}} ({{converted}})</a> {{converted_file_size|filesizeformat }}
                </li>
                <!--Only show for 360Giving files-->
                {% if request.cove_config.convert_titles %}
                  <li>
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{converted_url}}-titles.xlsx">{{xlsx_titles}} ({{converted}})</a> {{converted_file_size_titles|filesizeformat }}
                  </li>
                {% endif %}
              {% endif %}
            </ul>
            {% if conversion_error %}
                <p>{% blocktrans %}The JSON could not be converted to Spreadsheet due to the error:{% endblocktrans %} {{ conversion_error }}</p>

                {% include 'error_extra.html' %}
            {% endif %}
          
          {% elif conversion == 'unflatten' %}
            <p>We have tried to convert your data into JSON format.</p><p>The results can be seen below.</p>
            <ul class="list-unstyled">
              <li>
                <a href="{{original_file.url}}">
                  {% if file_type == 'xlsx' %}
                      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{xlsx}} ({{original}})
                  {% elif file_type == 'csv' %}
                      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{csv}} ({{original}})
                  {% endif %}
                  </a> 
                  {{original_file.size|filesizeformat }}
                </li>
                <li>
                  <a href="{{converted_url}}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{JSON}} ({{converted}})</a> {{converted_file_size|filesizeformat }}
                </li>
            </ul>

          {% else %}
            <ul class="list-unstyled">
              <li>
                <a href="{{original_file.url}}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{JSON}} ({{original}})</a> {{original_file.size|filesizeformat }}
                {% if conversion == 'flattenable' %}
                  <br/>
                  <br/>
                  <form method="post">
                    <button name="flatten" value="true" type="submit" class="btn btn-success btn-sm">{% blocktrans %}Convert to Spreadsheet{% endblocktrans %}</button>
                    {% csrf_token %}
                  </form>
                {% endif %}
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

</div><!--End Row -->

{% if conversion_warning_messages %}
  <a name="conversion-warning" class="anchor"></a>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        
        {% trans 'Conversion Warnings' %}
      </h4>
    </div>
    <div class="panel-body">
      {% if file_type == 'xlsx' or file_type == 'csv' %}
        <p class="explanation">In order to validate your data we need to convert it. During that conversion we found the following issues:</p>
      {% endif %}
      <ul>
        {% for warning_message in conversion_warning_messages %}
          <li>{{warning_message}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}


{% if conversion_warning_messages_titles %}
  <a name="conversion-warning" class="anchor"></a>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% trans 'Conversion Warnings (titles)' %}
      </h4>
    </div>
    <div class="panel-body">
    {% if file_type == 'xlsx' or file_type == 'csv' %}
      <p class="explanation">In order to validate your data we need to convert it. During that conversion we found the following issues:</p>
    {% endif %}
    <ul>
      {% for warning_message in conversion_warning_messages_titles %}
        <li>{{warning_message}}</li>
      {% endfor %}
    </ul>
    </div>
  </div>
{% endif %}

{% if validation_errors %}
  {% for error, values in validation_errors %}
     {% cove_modal_errors className="validation-errors-"|concat:forloop.counter modalTitle=error|get_message errorList=values file_type=file_type %}
  {% endfor %}
  

  <a name="validation-errors" class="anchor"></a>
  <div class="panel panel-danger">
    <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Validation Errors' %}
      </h4>
    </div>
    <div id="validationTable" class="collapse in">
      {% include "validation_table.html" %}
    </div>
  </div>
{% endif %}



{% if data_only %}
    <a name="additional-fields" class="anchor"></a>
    <div class="panel panel-warning">
      <div id="additional-fields-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="additionalFieldTable" data-toggle="collapse" data-target="#additionalFieldTable">
        <h4 class="panel-title">
          <span class="our-title"><span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Fields (fields in data not in schema)' %}</span>
        </h4>
      </div>
      <div id="additionalFieldTable" class="collapse in">
        {% include "additional_fields_table.html" %}
      </div>
    </div>
{% endif %}

{% if deprecated_fields %}
    <a name="deprecated-fields" class="anchor"></a>
    <div class="panel panel-warning">
      <div id="deprecated-fields-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="deprecatedFieldTable" data-toggle="collapse" data-target="#deprecatedFieldTable">
        <h4 class="panel-title">
          <span class="our-title"><span class="glyphicon glyphicon-collapse-up"></span>{% trans "Deprecated Fields" %}</span>&nbsp;<sup><span data-toggle="tooltip" title="Fields flagged as 'deprecated' will be either replaced or removed in future versions of the schema" class="glyphicon glyphicon-question-sign"></span></sup>
        </h4>
      </div>
      <div id="deprecatedFieldTable" class="collapse in">
        {% include "deprecated_fields_table.html" %}
      </div>
    </div>
    
{% endif %}


{% block explore_additional_content %}
{% endblock %}

{% block introduction %}
{% endblock %}

{% block howToUse %}
{% endblock %}

<div class="above-footer">
  <h2>{% trans "Save or Share these results" %}</h2>
  <p>{% blocktrans %}Use the following url to share these results:{% endblocktrans %}</p>
  <div class="copy-div">
      <span class="copy-span"> {{ current_url }} <span id="copy-url-button" title="Click to copy." data-clipboard-text={{ current_url }} class="btn copy-button glyphicon glyphicon-copy" aria-hidden="true"></span> </span>
  </div>
  {% comment %}Translators: Paragraph that describes the application{% endcomment %}
  <p>{% blocktrans %}These results will be available for 7 days from the day the data was first uploaded. You can revisit these results until then.{% endblocktrans %}</p>
  <p>{% blocktrans %}After 7 days all uploaded data is deleted from our servers, and the results will no longer be available. Anyone using the link to this page after that will be show a message that tells them the file has been removed.{% endblocktrans %}</p>
</div>

{% endblock explore_content %}

{% block extrafooterscript %}
  {{ block.super }} 
  <script type="text/javascript">
      $("#validationTable").on("hide.bs.collapse", function(){
        $("#validation-panel.panel-heading").html('<h4 class="panel-title"><span class="glyphicon glyphicon-collapse-down"></span>{% trans "Validation Errors" %}</h4>');
      });
      $("#validationTable").on("show.bs.collapse", function(){
        $("#validation-panel.panel-heading").html('<h4 class="panel-title"><span class="glyphicon glyphicon-collapse-up"></span>{% trans "Validation Errors" %}</h4>');
      });
      $("#additionalFieldTable").on("hide.bs.collapse", function(){
        $("#additional-fields-panel .our-title").html('<span class="glyphicon glyphicon-collapse-down"></span>{% trans "Additional Fields (fields in data not in schema)" %}');
      });
      $("#additionalFieldTable").on("show.bs.collapse", function(){
        $("#additional-fields-panel .our-title").html('<span class="glyphicon glyphicon-collapse-up"></span>{% trans "Additional Fields (fields in data not in schema)" %}');
      });
      $("#deprecatedFieldTable").on("hide.bs.collapse", function(){
        $("#deprecated-fields-panel .our-title").html('<span class="glyphicon glyphicon-collapse-down"></span>{% trans "Deprecated Fields" %}');
      });
      $("#deprecatedFieldTable").on("show.bs.collapse", function(){
        $("#deprecated-fields-panel .our-title").html('<span class="glyphicon glyphicon-collapse-up"></span>{% trans "Deprecated Fields" %}');
      });
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
  </script>
{% endblock extrafooterscript %}
