{% extends 'explore.html' %}
{% load i18n %}
{% load cove_tags %}

{% block key_facts %}

<div class="row">
  <div class="col-md-6">
    <div class="panel {% if validation_errors %}panel-danger{% elif conversion_warning_messages or conversion_warning_messages_titles %}panel-warning{% else %}panel-success{% endif %}">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Headlines' %}</h4>
      </div>
      <div class="panel-body">

        {% if conversion_warning_messages or conversion_warning_messages_titles %}
          <div class="conversion message"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>{% blocktrans %}Please read the <a href="#conversion-warning">conversion warnings</a> below.{% endblocktrans %}</div>
        {% endif %} 
        <div class="validation message">  
        {% if validation_errors %}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <b> {% trans "Failed " %} </b>
        {% else %} 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% trans "Passed " %} 
        {% endif %}
        {% blocktrans %}validation against {% endblocktrans %}<a href="http://www.threesixtygiving.org/standard/reference/#toc-360giving-json-schemas">360Giving JSON Package Schema</a>.
        {% if validation_errors %}<br/>{% blocktrans %}See <a href="#validation-errors">Validation Errors</a> below.{% endblocktrans %}{% endif %}
        </div>

         <div class="key-facts message">
           <strong>At a glance</strong>
           <ul>
             <li>
             {% blocktrans count count=grants_aggregates.count %}This file contains {{count}} grant.
             {% plural %}
              This file contains {{count}} grants.
             {% endblocktrans %}
             </li>
            
             {% if grants_aggregates.duplicate_ids %} 
             <li>
                  <b> {% blocktrans %}There are{% endblocktrans %} {{ grants_aggregates.duplicate_ids|length }} {% blocktrans %}duplicate grant IDs in this package.{% endblocktrans %}</b>
             </li>
             {% endif %}
             
            <li>
              {% if data_only %}
                {% blocktrans count count=data_only|length %}
                  This file uses {{count}} <a href="#additional-fields">additional field</a>ot used in the standard.
                {% plural %}
                  This file uses {{count}} <a href="#additional-fields">additional fields</a> not used in the standard.
                {% endblocktrans %}
              {% endif %}
             </li>

             <li>
               {% trans "Data " %} 
               {% if source_url %}
                  {% trans "downloaded from " %} {{source_url}} 
               {% else %}
                 {% trans "uploaded " %} 
               {% endif %}
               {% trans "on " %} {{created_date}}
            </li>
           </ul>
         </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel {% if conversion_error %}panel-danger{% elif conversion_warning_messages or conversion_warning_messages_titles %}panel-warning{% else %}panel-success{% endif %}">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% trans 'Convert' %}
        </h4>
      </div>
          
      <div class="panel-body">
        <div class="conversion message">
          {% if conversion_warning_messages or conversion_warning_messages_titles %}
            <p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>There were <a href="#conversion-warning">conversion errors</a> when processing your file. The converted data may not represent your data as you want it to be.</p>
          {% endif %}
          {% if conversion == 'flatten' %}
            <p>We have tried to convert your JSON into a spreadsheet format.</p><p>The results can be seen below.</p>
            <ul class="list-unstyled left-space">
              <li>
                <a href="{{original_file.url}}">{{JSON}} ({{original}})</a> {{original_file.size|filesizeformat }}
              </li>
              {% if not conversion_error %}
                <li>
                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{converted_url}}.xlsx">{{xlsx}} ({{converted}})</a> {{converted_file_size|filesizeformat }}
                </li>
                <!--Only show for 360Giving files-->
                {% if request.cove_config.convert_titles %}
                  <li>
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{converted_url}}-titles.xlsx">{{xlsx_titles}} ({{converted}})</a> {{converted_file_size_titles|filesizeformat }}
                  </li>
                {% endif %}
              {% endif %}
            </ul>
            {% if conversion_error %}
                <p>{% blocktrans %}The JSON could not be converted to Spreadsheet due to the error:{% endblocktrans %} {{ conversion_error }}</p>

                {% include 'error_extra.html' %}
            {% endif %}
          
          {% elif conversion == 'unflatten' %}
            <p>We have tried to convert your data into JSON format.</p><p>The results can be seen below.</p>
            <ul class="list-unstyled">
              <li>
                <a href="{{original_file.url}}">
                  {% if file_type == 'xlsx' %}
                      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{xlsx}} ({{original}})
                  {% elif file_type == 'csv' %}
                      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{csv}} ({{original}})
                  {% endif %}
                  </a> 
                  {{original_file.size|filesizeformat }}
                </li>
                <li>
                  <a href="{{converted_url}}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{JSON}} ({{converted}})</a> {{converted_file_size|filesizeformat }}
                </li>
            </ul>

          {% else %}
            <ul class="list-unstyled">
              <li>
                <a href="{{original_file.url}}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>{{JSON}} ({{original}})</a> {{original_file.size|filesizeformat }}
                {% if conversion == 'flattenable' %}
                  <br/>
                  <br/>
                  <form method="post">
                    <button name="flatten" value="true" type="submit" class="btn btn-info btn-sm">{% blocktrans %}Convert to Spreadsheet{% endblocktrans %}</button>
                    {% csrf_token %}
                  </form>
                {% endif %}
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div><!--End Row -->

{% endblock %}

<!--Overide converted_files block in explore.html-->
{% block converted_files %}
{% endblock %}

{% block explore_content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Key Field Information' %}</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <b>{% trans "Grants:" %}</b> {{grants_aggregates.count}}
            <br/>
            <b>{% trans "Grant IDs:" %}</b> {{grants_aggregates.id_count}}
            <br/>
            <a data-toggle="modal" data-target=".unique-ids">
              <b>{% trans "Unique Grant IDs:" %}</b> {{grants_aggregates.unique_ids|length}}
            </a>
            <br/>
            {% if grants_aggregates.duplicate_ids %}
              <a data-toggle="modal" data-target=".duplicate-id-modal">
                <b>{% trans "Duplicate IDs:" %}</b> {{grants_aggregates.duplicate_ids|length}}
              </a>
            {% else %}
              <b>{% trans "Duplicate IDs:" %}</b> {{grants_aggregates.duplicate_ids|length}}
            {% endif %}
          </div>
          <div class="col-md-4">
            <b>{% trans "First Award Date:" %}</b> {{grants_aggregates.min_award_date}}
            <br/>
            <b>{% trans "Last Award Date:" %}</b> {{grants_aggregates.max_award_date}}
            <br/>
            <b>{% trans "Highest Award Amount:" %}</b> {{grants_aggregates.max_amount_awarded}}
            <br/>
            <b>{% trans "Lowest Award Amount:" %}</b> {{grants_aggregates.min_amount_awarded}}
          </div>
          <div class="col-md-4">
            <a data-toggle="modal" data-target=".distinct-funding-org-identifier">
              <b>{% trans "Funder Organisation IDs:" %}</b> {{grants_aggregates.distinct_funding_org_identifier|length}}
            </a>
            <br/>
            <a data-toggle="modal" data-target=".distinct-recipient-org-identifier">
              <b>{% trans "Recipient Organisations IDs:" %}</b> {{grants_aggregates.distinct_recipient_org_identifier|length}}
            </a>
            <br/>
            <b>{% trans "Currencies Used Count:" %}</b> {{grants_aggregates.distinct_currency|length}}
            <br/>
            <b>{% trans "Currencies Used:" %}</b> {{grants_aggregates.distinct_currency|join:", "}}
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--End Row -->

{% cove_modal_list className="duplicate-id-modal" modalTitle="Duplicate IDs" itemList=grants_aggregates.duplicate_ids %}
{% cove_modal_list className="distinct-recipient-org-identifier" modalTitle="Recipient Organisation IDs" itemList=grants_aggregates.distinct_recipient_org_identifier %}
{% cove_modal_list className="distinct-funding-org-identifier" modalTitle="Funder Organisation IDs" itemList=grants_aggregates.distinct_funding_org_identifier %}
{% cove_modal_list className="unique-ids" modalTitle="Unique IDs" itemList=grants_aggregates.unique_ids %}

<div class="modal fade distinct-funding-orgs" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h5 class="modal-title">Recipient Organisation IDs</h5>
      </div>
      <ul class="list-group">
        {% for id in grants_aggregates.distinct_funding_org_identifier %}
           <li class="list-group-item">{{ id }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<div class="row"> <!--Start Row (Detail Table)-->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% trans 'Grants Table' %}
        </h4>
      </div>
      <div class="panel-body">
          <table class="table table-striped result-table">
            <thead>
              <tr>
                <th>id</th>
                <th>title</th>
                <th>currency</th>
                <th>amountAwarded</th>
                <th>dateModified</th>
              </tr>
            </thead>
            <tbody>
              {% for grant in json_data.grants %}
              <tr>
                <td>{{ grant.id }}</td>
                <td>{{ grant.title }}</td>
                <td>{{ grant.currency }}</td>
                <td>{{ grant.amountAwarded }}</td>
                <td>{{ grant.dateModified }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div><!--End Row-->
{% endblock %}
