{% load i18n %}
<div class="modal {{className}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h5 class="modal-title">{{ modalTitle }}</h5>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              {% if full_table %}
                <th>{% trans 'Value' %}</th>
                <th>{% trans 'Location' %}</th>
                {% if file_type == 'xlsx' or file_type == 'csv' %}
                  <th>{% trans 'Spreadsheet Location' %}</th> 
                {% endif %}
              {% else %}
                {% if file_type == 'json' %}
                  <th>{% trans 'Location' %}</th>
                {% else %}
                  <th>{% trans 'Spreadsheet Location' %}</th>
                {% endif %}
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for item in errorList %}
              <tr>
              {% if full_table %}
                <td> {{item.value}} </td>
                <td> {{item.path}} </td>
                {% if file_type == 'xlsx' or file_type == 'csv' %}
                  <td> <strong>Sheet:</strong> {{item.sheet}} <strong>Row:</strong> {{item.row_number}} {% if item.header %} <strong>Header:</strong> {{item.header}} {% endif %} </td>
                {% endif %}
              {% else %}
                {% if file_type == 'json' %}
                  <td>{{item}}</td>
                {% else %}
                  <td> <strong>Sheet:</strong> {{item.0}} <strong>Row:</strong> {{item.2}} {% if item.3 %} <strong>Header:</strong> {{item.3}} {% endif %} </td>
                {% endif %}
              {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
