{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Usage stats" %}</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>{% trans "Upload" %}</th>
            <th>{% trans "Link" %}</th>
            <th>{% trans "Paste" %}</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for num_days, total, by_form in upload_by_time_by_form %}
        <tr>
            <th>{% blocktrans %}Last{% endblocktrans %} {{num_days}} {% blocktrans %}days{% endblocktrans %}</th>
            <td>{{by_form.upload_form|default:"0"}}</td>
            <td>{{by_form.url_form|default:"0"}}</td>
            <td>{{by_form.text_form|default:"0"}}</td>
            <td>{{total}}</td>
        </tr>
    {% endfor %}
    <tr>
        <th>Ever</th>
        <td>{{total_by_form.upload_form|default:"0"}}</td>
        <td>{{total_by_form.url_form|default:"0"}}</td>
        <td>{{total_by_form.text_form|default:"0"}}</td>
        <td>{{uploaded}}</td>
    </tr>
    </tbody>
</table>
{% endblock content %}
