{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% with app=request.current_app %}
<div>
  <h1>Terms &amp; conditions</h1>
  <p>
    This web application is free software designed to help people check data published to the
    {% if app == 'cove_360' %}360Giving Standard.{% endif %}
    {% if app == 'cove_ocds' %}Open Contracting Data Standard (OCDS).{% endif %}
    {% if app == 'cove_iati' %}IATI data standard.{% endif %}
  </p>

  <p>It is offered as service WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.</p>

  <p>
    If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern
      {% if app == 'cove_360' %}360Giving's{% endif %}
      {% if app == 'cove_ocds' %}Open Contracting Partnership's{% endif %}
      {% if app == 'cove_iati' %}Open Data Services Co-operative Limited's{% endif %}
      relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
    </p>

  {% if app == 'cove_iati' %}
    <p>The term 'Open Data Services Co-operative Limited' or 'us' or 'we' refers to the owner of the website. Our company registration number is 09506232. Our registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. You can contact us by email <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a>. There is more company information on the <a href="https://opencorporates.com/companies/gb/09506232">Open Data Services Co-operative Limited page at Open Corporates</a>. The term 'you' refers to the user or viewer of our website.</p>
  {% elif app == 'cove_360' %}
   <p>The term ‘360Giving’ or ‘us’ or ‘we’ refers to the owner of the website. Our company registration number is 09668396. Our registered address is 17 Oval Way, London, SE11 5RR. You can contact us by email <a href="mailto:info@threesixtygiving.org">info@threesixtygiving.org</a>.</p>
   <p>The site is operated by Open Data Services Co-operative Limited.</p>
   <p>The term 'Open Data Services Co-operative Limited' refers to the operator of the website on behalf of 360Giving. Open Data Services Co-operative Limited's company registration number is 09506232. Their registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. Email: <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a></p>
  {% elif app == 'cove_ocds' %}
   <p>The term ‘Open Contracting Partnership’ or ‘us’ or ‘we’ refers to the owner of the website. You can contact us by email <a href="mailto:data@open-contracting.org">data@open-contracting.org</a></p>
   <p>The site is operated by Open Data Services Co-operative Limited.</p>
   <p>The term 'Open Data Services Co-operative Limited' refers to the operator of the website on behalf of the Open Contracting Partnership. Open Data Services Co-operative Limited's company registration number is 09506232. Their registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. Email: <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a></p>
  {% endif %}

  <p>The use of this website is subject to the following terms of use:</p>

  <p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>

  <p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
  Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
  This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
  All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
  Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
  From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
  Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.</p>

  <h2>How we use cookies</h2>
  <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site.</p>

  <p>Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>

  <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>

  <p>In this website we use cookies to:</p>

  <ul>
    <li>Help us analyse how our website is used."</li>
    <li>To ensure other sites can’t “forge” requests.</li>
    <li>Remember your choices within the application, for your convenience.</li>
  </ul>

  <p>We use <a href="http://piwik.org">Piwik</a> to analyse usage of our website (see "Understanding website visitor and traffic patterns" section below). This uses cookies to identify you (anonymously) as the same user, so that we can analyse our web traffic better. E.g. it allows us to count how many users we have, instead of just total page views or analyse what pages people commonly visit together.</p>

  <p>If you do allow cookies to be used, Piwik uses 1st party cookies, set on the domain of this website. Cookies created by Piwik start with: </p>
  <ul>
    <li>_pk_ref</li>
    <li>_pk_cvar</li>
    <li>_pk_id</li>
    <li>_pk_ses</li>
  </ul>

  <p>See: <a href="http://piwik.org/faq/general/faq_146/">http://piwik.org/faq/general/faq_146/</a> for more information.</p>

  <p>The application is built using <a href="https://www.djangoproject.com/">Django</a> and we use that framework to set the following cookies:</p>
   <ul>{% comment %}Translators: csrftoken and sessionid are names of cookies and do not need translation {% endcomment %}
    <li>csrftoken - (to prevent cross site scripting attacks https://docs.djangoproject.com/en/1.8/ref/csrf/#how-it-works)</li>
    <li>sessionid - (you will get this if you interact with the application, so that we can save the things you have done, e.g. select a language)"</li>
  </ul>

  <p>If you choose not to accept these cookies the application may not work for you.</p>

  <h2>Privacy Notice</h2>

  <p>
    {% if app == 'cove_360' %}360Giving{% endif %}
    {% if app == 'cove_ocds' %}Open Contracting Partnership{% endif %}
    {% if app == 'cove_iati' %}Open Data Services Co-operative Limited{% endif %}
  is committed to ensuring that your privacy is protected. This privacy policy sets out how we collect and process any personal data when you use this website.</p>

  <p>We may change this policy from time to time by updating this page. This policy is effective from TODO.</p>

  <p>Data controller:<br/>
    {% if app == 'cove_360' %}
      360Giving, 17 Oval Way, London, SE11 5RR.
    {% elif app == 'cove_ocds' %}
      Open Contracting Partnership, <a href="mailto:data@open-contracting.org">data@open-contracting.org</a>, who are based in the USA.
    {% elif app == 'cove_iati' %}
      Open Data Services Co-operative Limited, 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. <a href="mailto:inbox+opendataservices+443f+data-protection@plan.io">inbox+opendataservices+443f+data-protection@plan.io</a>.
    {% endif %}
    <br/>Contact us if would like a copy of the information held on you or if you believe that any information we are holding on you is incorrect or incomplete.
    {% if app == 'cove_360' %}
      You can contact us by email at: <a href="mailto:info@threesixtygiving.org">info@threesixtygiving.org</a>
    {% endif %}
  </p>

  <p>You have the following rights concerning this data: <ul>
     <li>Right to be informed, which is the purpose of this privacy notice</li>
     <li>Right to Access, Rectification, Erasure, and to Restrict Processing. Note that the right to Erasure and Restrict Processing are balanced against our legitimate interests. Where relevant, you need to provide information to re-identify yourself from our pseudonymised data, see <a href="https://gdpr-info.eu/art-11-gdpr/">GDPR Article 11</a></li>
    <li>Right to object to our processing.</li>
  </ul></p>

  <p>Our supervisory authority is the <a href="https://ico.org.uk/">ICO in the UK</a>. You have the right to lodge a complaint with them.</p>

  <p>We process personal data for the following purposes: <ul>
    <li>Understanding website visitor and traffic patterns</li>
    <li>Understanding server behaviour</li>
    <li>Identifying and being alerted to software errors</li>
  </ul></p>

  We rely on <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/legitimate-interests/">legitimate interests</a> (<a href="https://gdpr-info.eu/art-6-gdpr/">GDPR Article 6(1)(f)</a>) as the lawful basis for this processing. Details about the type of data, the purpose of the processing and legitimate interests, and the storage and retention of the data are set out below.


  <h3>Understanding website visitor and traffic patterns</h3>
  We collect data about your visits to the website, for the purpose of analysing how the website is used, so that we can improve it. A self hosted copy of Piwik is used for this.

  <p>Personal data we collect:<ul>
    <li>Your IP address - this is pseudonymised by redacting the second half of the address</li>
    <li>Referrer (what page you arrived at one of our web pages from)</li>
    <li>Information about your device, OS and browser</li>
  </ul>We do not use this data to personally identify individuals, but it is possible that it could be used to do so, particularly if combined with other datasets.</p>

  <p>You can opt out of this processing:
  If you have set your web browser to "I do not want to be tracked" (DoNotTrack is enabled) then Piwik will not track your visit.</p>

  <p>Piwik also it’s own opt out mechanism:</p>
  <!-- opt out iframe - clicking this will mean people can opt out of tracking -->
  <iframe style="border: 1; height: 150px; width: 600px;" src="https://mon.opendataservices.coop/piwik/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en"></iframe>

  <p>Data processors: {% if app != 'cove_iati' %}Open Data Services Co-operative Limited, {% endif %}Bytemark.</p>
  {% if app == 'cove_ocds' %}
    <p>The data controller (Open Contracting Partnership) is based in the USA.</p>
  {% else %}
    <p>No data is transferred to third countries or international organisations.</p>
  {% endif %}
  <p>The data is kept indefinitely, in pseudonymised form.</p>

  <h3>Understanding server behaviour</h3>
  We collect data about your visits to the website in server logs. This is for the purpose of debugging network issues, monitoring server usage, and identifying malicious usage.

  <p>Personal data we collect:<ul>
    <li>Your IP address</li>
    <li>User agent (information about the OS and browser that you use)</li>
    <li>Referrer (what page you arrived at one of our web pages from)</li>
  </ul>We do not use this data to personally identify individuals, but it is possible that it could be used to do so, particularly if combined with other datasets.</p>

  <p>Data processors: {% if app != 'cove_iati' %}Open Data Services Co-operative Limited, {% endif %}Bytemark.</p>
  {% if app == 'cove_ocds' %}
    <p>The data controller (Open Contracting Partnership) is based in the USA.</p>
  {% else %}
    <p>No data is transferred to third countries or international organisations.</p>
  {% endif %}
  <p>The data is kept indefinitely.</p>

  <h3>Identifying and being alerted to software errors</h3>
  When an error occurs on our site, we record details about the visit that caused it. We use <a href="https://sentry.io/welcome/">Sentry</a> for this.

  <p>Data we collect:<ul>
    <li>Your IP address</li>
    <li>User agent (information about the OS and browser that you use)</li>
    <li>Referrer (what page you arrived at one of our web pages from)</li>
  </ul>We do not use this data to personally identify individuals, but it is possible that it could be used to do so, particularly if combined with other datasets.</p>

  <p>Data processors: {% if app != 'cove_iati' %}Open Data Services Co-operative Limited, {% endif %}Sentry (Functional Software, Inc.)</p>
  {% if app == 'cove_ocds' %}
    <p>The data controller (Open Contracting Partnership) is based in the USA.</p>
  {% endif %}
  <p>Data is transferred to Functional Software, Inc. who are based in the USA.</p>
  <p>The data is kept for 90 days.</p>

  <h2>Data uploaded to this website</h2>

  <p>This application is designed so that people can submit files to the application, allow the application to process them and to then display information about them, generate alternative file formats of the original data, and provide those files for download.</p>

  <p>Please do not submit any non-public personal data to this application.</p>

  <p>We do not make use of any of the data within the files for purposes other than to create reports for you about the data you have submitted.</p>

  <p>We do create and store metadata about your use of the application, and about the files/data that you have uploaded in order to monitor how the application is being used.</p>

  <h2>Deleting our copies of the files</h2>
  <p>When you provide data to the application we store the data you have provided in order to process it for you. We also enable derived versions of the data to be downloaded. Those derived versions and the original data are stored on our server.</p>

  <p>After a period of time we will delete those files from our server, meaning they are no-longer available for download.</p>

  <p>Information about how long files will be stored is made available to users directly through the interface, but will be for no longer than one year from the date of submission.</p>

  <p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.</p>

  <h2>Security</h2>
  <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

  <h2>Links to other websites</h2>
  <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

  <h2>Website disclaimer</h2>
  <p>The information contained in this website is for general information purposes only. The information is provided by us and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
  In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
  Through this website you are able to link to other websites which are not under the control of us. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
  Every effort is made to keep the website up and running smoothly. However, we take no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>


{% endwith %}
</div>

{% endblock %}
