{% load i18n %}
{% load cove_tags %}

<table class="table table-condensed">
<thead> 
  <tr> 
    <th>{% trans 'Error Description' %}</th> 
    <th>{% trans 'Error Count' %}</th> 
    <th>{% trans 'First 3 Examples' %}</th> 
    <th>{% trans 'Location of first 3 errors' %}</th> 
    {% if file_type == 'xlsx' or file_type == 'csv' %}
      <th>{% trans 'Spreadsheet Location of first 3 errors' %}</th> 
    {% endif %}
  </tr> 
</thead>
<tbody>
{% for error_json, values in validation_errors %}
{% with error=error_json|json_decode %}
<tr>
  {% if error.message_safe %}
    <td>
      <strong>{{ error.message_safe | safe }}</strong>
      {% if error.message_type in common_error_types %}
      <a href="{% url 'common_errors' %}#{{error.message_type}}" target="_blank">(more info)</a>
      {% endif %}
      {% if 'schema_title' in error %}
      <div class="well well-sm">
        <h4>{{ error.schema_title }}</h4>
        <p>{{ error.schema_description_safe | safe }}</p>
      </div>
      {% endif %}
    </td>
  {% elif error.message_type in common_error_types %}
  <td><a href="{% url 'common_errors' %}#{{error.message_type}}"> {{error.message}} </a></td>
  {% else %}
    <td>{{error.message}}</td> 
  {% endif %}
  <td class="text-center">
    {% if values|length > 3 %}
      <a data-toggle="modal" data-target=".{{"validation-errors-"|concat:forloop.counter}}">
        {{values|length}}
      </a>
    {% else %}
        {{values|length}}
    {% endif %}
  </td>
  <td>
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
        <li> {{value.value}} </li>
      {% endfor %}
    </ul>
  </td>
  <td>
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
         <li> {{value.path}} </li>
      {% endfor %}
    </ul>
  </td>
  {% if file_type == 'xlsx' or file_type == 'csv' %}
  <td style="white-space: nowrap">
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
      <li> <b>Sheet:</b> {{value.sheet}} <b>Row:</b> {{value.row_number}} {% if value.header %} <b>Column:</b> {{value.header}} {% endif %} </li>
      {% endfor %}
    </ul>
  </td>
  {% endif %}
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>
