{% load i18n %}
{% load cove_tags %}

<table class="table table-condensed">
<thead> 
  <tr> 
    <th>{% trans 'Error Description' %}</th> 
    <th>{% trans 'Error Count' %}</th> 
    <th>{% trans 'First 3 Examples' %}</th> 
    <th>{% trans 'Location of first 3 errors' %}</th> 
    {% if file_type == 'xlsx' or file_type == 'csv' %}
      <th>{% trans 'Spreadsheet Location of first 3 errors' %}</th> 
    {% endif %}
  </tr> 
</thead>
<tbody>
{% for error, values in validation_errors %}
<tr>
  {% if error|get_message_type in common_error_types %}
  <td><a href="{% url 'common_errors' %}#{{error|get_message_type}}"> {{error|get_message}} </a></td>
  {% else %}
    <td>{{error|get_message}}</td> 
  {% endif %}
  <td class="text-center">
    {% if values|length > 3 %}
      <a data-toggle="modal" data-target=".{{"validation-errors-"|concat:forloop.counter}}">
        {{values|length}}
      </a>
    {% else %}
        {{values|length}}
    {% endif %}
  </td>
  <td>
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
        <li> {{value.value}} </li>
      {% endfor %}
    </ul>
  </td>
  <td>
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
         <li> {{value.path}} </li>
      {% endfor %}
    </ul>
  </td>
  {% if file_type == 'xlsx' or file_type == 'csv' %}
  <td style="white-space: nowrap">
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
      <li> <b>Sheet:</b> {{value.sheet}} <b>Row:</b> {{value.row_number}} {% if value.header %} <b>Column:</b> {{value.header}} {% endif %} </li>
      {% endfor %}
    </ul>
  </td>
  {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
