Django==2.2.15 # rq.filter: <1.12
flattentool==0.15.2
libcove==0.20.1
libcoveweb==0.18.1
django-bootstrap3==12.1.0
django-debug-toolbar==2.2
requests==2.24.0
cached-property==1.5.1
dealer==2.1.0
django-environ==0.4.5
zipp==1.2.0
jsonschema==3.2.0
json-merge-patch==0.2
python-dateutil==2.8.1
raven==6.10.0
strict-rfc3339==0.7
rfc3987==1.3.8
rfc6266==0.0.4
bleach==3.3.0
xmltodict==0.12.0
rangedict==0.1.6
openpyxl==2.6.4


flake8==3.8.3
pytest==6.0.1
pytest-django==3.9.0
pytest-cov==2.10.1
pytest-localserver==0.5.0
pytest-xdist==2.0.0
coveralls==2.1.2
selenium==3.141.0
transifex-client==0.13.11
libsass==0.20.0
Sphinx==3.2.1
recommonmark==0.6.0
sphinx-rtd-theme==0.5.0
# Lock as later versions have a problem with slow generation of data
hypothesis==3.52.3
# Lock as coverage 5 breaks hypothesis tests?
coverage==4.5.4
## The following requirements were added by pip freeze:
alabaster==0.7.12
apipkg==1.5
attrs==19.3.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
commonmark==0.9.1
contextlib2==0.6.0.post1
defusedxml==0.6.0
docopt==0.6.2
docutils==0.16
et-xmlfile==1.0.1
execnet==1.7.1
gitdb==4.0.5
GitPython==3.1.7
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
iniconfig==1.0.1
jdcal==1.4.1
Jinja2==2.11.2
jsonref==0.2
LEPL==5.1.3
lxml==4.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
odfpy==1.4.1
packaging==20.4
pathlib2==2.3.5
pluggy==0.13.1
psutil==5.7.2
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest-forked==1.3.0
python-slugify==4.0.1
pytz==2020.1
schema==0.7.3
sentry-sdk==0.16.5
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
text-unidecode==1.3
toml==0.10.1
urllib3==1.25.10
webencodings==0.5.1
Werkzeug==1.0.1
