pip
Django<1.12
#^^ rq.filter: <1.12
-e git+https://github.com/OpenDataServices/flatten-tool.git@#v0.5.0egg=flattentool
-e git+https://github.com/open-contracting/lib-cove-ocds.git@v0.2.1#egg=libcoveocds
django-bootstrap3
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
json-merge-patch
python-dateutil
raven
strict-rfc3339
rfc3987
rfc6266
CommonMark
bleach
xmltodict
