-r requirements.txt
# We have a fork of the bdd-tester repo, in order to add a single commit that
# fixes the previous commit we were using, to work with the new pip resolver.
#
# This means the behaviour with the new pip resolver will be the same as
# what happened with the old resolver (where subsequent requirements were
# silently ignored).
#
# We really shouldn't do any more work on this fork, and should instead update
# to the latest upstream version of bdd-tester, which also fixes this
# requirements issue.
# We've not done this yet because this requires changes to cove, and some
# careful testing, which we currently don't have time to do.
-e git+https://github.com/OpenDataServices/bdd-tester.git@e1a1a578e28222904f3f1567409b068222ec02e6#egg=bdd-tester
-e git+https://github.com/OpenDataServices/defusedexpat@362a55a5f41ec2044e90ac54dc2fc52d5f979da3#egg=defusedexpat
