pip
Django<1.9
#^^ rq.filter: <1.9
-e git+https://github.com/OpenDataServices/flatten-tool.git@e7877fd544f4ca8e6077ba663c1cf4e408479b59#egg=flattentool
django-bootstrap3
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
json-merge-patch
raven
strict-rfc3339
rfc3987
rfc6266
