pip
Django<1.9
#^^ rq.filter: <1.9
-e git+https://github.com/OpenDataServices/flatten-tool.git@dceac82323271c4cc5956275481d762d81976eaf#egg=flattentool
django-bootstrap3
django-debug-toolbar
requests
dealer
django-environ
jsonschema
raven
strict-rfc3339
rfc3987
