Django==2.2.15 # rq.filter: <1.12
flattentool==0.15.2
libcove==0.20.1
libcoveweb==0.18.1
django-bootstrap3==12.1.0
django-debug-toolbar==2.2
requests==2.24.0
cached-property==1.5.1
dealer==2.1.0
django-environ==0.4.5
zipp==1.2.0
jsonschema==3.2.0
json-merge-patch==0.2
python-dateutil==2.8.1
raven==6.10.0
strict-rfc3339==0.7
rfc3987==1.3.8
rfc6266==0.0.4
bleach==3.3.0
xmltodict==0.12.0
rangedict==0.1.6
openpyxl==2.6.4
## The following requirements were added by pip freeze:
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
commonmark==0.9.1
contextlib2==0.6.0.post1
defusedxml==0.6.0
et-xmlfile==1.0.1
idna==2.10
importlib-metadata==1.7.0
jdcal==1.4.1
jsonref==0.2
LEPL==5.1.3
lxml==4.5.2
odfpy==1.4.1
packaging==20.4
pyparsing==2.4.7
pyrsistent==0.16.0
pytz==2020.1
schema==0.7.3
sentry-sdk==0.16.5
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
webencodings==0.5.1
