pip==9.0.3
Django==1.11.20 # rq.filter: <1.12
-e git+https://github.com/OpenDataServices/flatten-tool.git@v0.5.0#egg=flattentool
-e git+https://github.com/open-contracting/lib-cove-ocds.git@v0.2.1#egg=libcoveocds
-e git+https://github.com/OpenDataServices/lib-cove-web.git@4762663c3e5f8005e241609562bb2085c0af4c67#egg=libcoveweb
-e git+https://github.com/OpenDataServices/lib-cove.git@2fee8ee2e572d26415c503e05d79b42ad95dc25d#egg=libcove
django-bootstrap3==9.1.0
django-debug-toolbar==1.9.1
requests==2.21.0
cached-property==1.5.1
dealer==2.0.5
django-environ==0.4.5
jsonschema==3.0.1
json-merge-patch==0.2
python-dateutil==2.8.0
raven==6.10.0
strict-rfc3339==0.7
rfc3987==1.3.8
rfc6266==0.0.4
bleach==3.1.0
xmltodict==0.12.0
rangedict==0.1.6


flake8==3.7.7
pytest==4.3.0
pytest-django==3.4.8
pytest-cov==2.6.1
pytest-localserver==0.5.0
pytest-xdist==1.26.1
coveralls==1.6.0
selenium==3.141.0
transifex-client==0.13.6
libsass==0.17.0
Sphinx==1.8.4
-e git+https://github.com/rtfd/recommonmark.git@3238b029b6e19b9cbceb9b85d81304f86b12c012#egg=recommonmark
sphinx-rtd-theme==0.4.3
hypothesis==4.7.19
## The following requirements were added by pip freeze:
alabaster==0.7.12
apipkg==1.5
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
commonmark==0.8.1
contextlib2==0.5.5
coverage==4.5.2
docopt==0.6.2
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
execnet==1.5.0
future==0.17.1
idna==2.8
imagesize==1.1.0
jdcal==1.4
Jinja2==2.10
jsonref==0.2
LEPL==5.1.3
lxml==4.3.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==6.0.0
openpyxl==2.6.1
packaging==19.0
pluggy==0.9.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pyparsing==2.3.1
pyrsistent==0.14.11
pytest-forked==1.0.2
python-slugify==1.2.6
pytz==2018.9
schema==0.7.0
six==1.12.0
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
Unidecode==1.0.23
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.15.2
