{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block banner %}
{% endblock %}

{% block h1 %}
  <div class="row">
    <div class="col-md-2 aiti-title">
        <a href="{% url 'index' %}">
          <p>IATI </p><small>CoVE</small>
        </a>
    </div>
    <div class="col-md-5 aiti-strapline">
      <div>{{ app_verbose_name }}</div>
      <div>Convert, Validate, Explore IATI Data</div>
    </div>
  </div>
{% endblock %}

{% block language_select %}{% endblock %}

{% block strapline %}{% endblock %}

{% block howToUse %}
<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="heading-in-panel" ><small>{% blocktrans %}How to use {% endblocktrans %}{{ app_verbose_name }}</small></h2>
    {% comment %}Translators: Paragraph that describes the application{% endcomment %}
  </div>
</div>
{% endblock %}

{% block theme %}
  <p class="text-muted">{% blocktrans %}Bootstrap theme {% endblocktrans %}<a href="https://bootswatch.com/sandstone/"> Sandstone</a>{% blocktrans %}
by Bootswatch{% endblocktrans %}</p>
{% endblock %}

{% block bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/fonts/tick/tick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/bootstrap-iati.css' %}?version=2">
  <noscript>
    <style>
      .collapse {display: initial !important;}
      .glyphicon-collapse-down {display: none !important;}
      #ruleset-by-activity {display: block !important;}
      button[name='ruleset-table-toggle'] {display: none !important;}
      .noscript-notice {display:block;}
    </style>
  </noscript>
{% endblock %}

{% block link %}
{% endblock %}

{% block bottomcontent1 %}
  {% include "cove_iati/how_to.html" %}
{% endblock %}

{% block bottomcontent2 %}
  {% include "cove_iati/more_info.html" %}
{% endblock %}

{% block version_link %}
<p class="text-muted">{% blocktrans %}Running version {% endblocktrans %}<a href="https://github.com/OpenDataServices/cove/tree/{{ request.tag }}">{{ request.tag }}</a></p>
{% endblock %}
