{% extends 'explore.html' %}
{% load i18n %}
{% load humanize %}
{% load cove_tags %}

{% block header_button %}
{{block.super}}
<div class="expand-collapse-all">
<a href="#" onclick="expand_all()">Expand all</a>
/
<a href="#" onclick="collapse_all()">Collapse all</a>
</div>
{% endblock %}

{% block explore_content %}

  {% block data_supplied %}
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#data-supplied-body" {% if conversion == 'flattenable' %}aria-expanded="true"{% endif %}>
        <h3 class="panel-title panel-title-explore"> 
          <span class="font-tick tick" aria-hidden="true"></span>
          Data Supplied
          <span class="pull-right glyphicon glyphicon-collapse-{% if conversion == 'flattenable' %}up{% else %}down{% endif %}"></span>
        </h3>
      </div>
      <div id="data-supplied-body" class="collapse in">
        <div class="panel-body">
           <p class="explanation">
             {% blocktrans %}An IATI {{ schema_name }} file was{% endblocktrans %}
             {% if source_url %}
                {% trans "downloaded from " %} <a href="{{source_url}}">{{source_url}}</a>
             {% else %}
               {% trans "uploaded " %} 
             {% endif %}
             {% trans "on " %} {{created_date}} at {{created_time}}.
           </p>
           <br>
           <ul class="left-space">
             <li>{% blocktrans %}Name of the file: {{file_name}}{% endblocktrans %}</li>
             {% if iati_identifiers_count %}
              <li>{% blocktrans %}Number of activities: {{iati_identifiers_count}}{% endblocktrans %}</li>
             {% endif %}
             {% if organisation_identifier_count %}
              <li>
                {% blocktrans %}Number of organisations: {{organisation_identifier_count}}{% endblocktrans %}
              </li>
             {% endif %}
           </ul>
          {% if conversion == 'flattenable' %}
            <form method="post">
              <button name="flatten" value="true" type="submit" class="btn btn-success btn-sm pull-right">{% trans "Convert to Spreadsheet" %}</button>
              {% csrf_token %}
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock data_supplied %}

  {% block conversion %}
  {% if conversion == 'unflatten' or conversion == 'flatten'%}
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#conversion-body">
        <h3 class="panel-title panel-title-explore" id="conversion-title"> 
          {% if conversion_warning_messages or conversion_error %}
            <span class="font-tick cross" aria-hidden="true"></span>
          {% else %}
            <span class="font-tick tick" aria-hidden="true"></span>
          {% endif %}
          {% trans "Converted to " %}{% if conversion == 'unflatten'%} XML {% else %} Spreadsheet{% endif %}
          {% if conversion_warning_messages %}
            <small>{% blocktrans count n_warnings=conversion_warning_messages|length %}{{n_warnings}} Error{% plural %}{{n_warnings}} Errors{% endblocktrans %}</small>
          {% endif %}
          <span class="glyphicon glyphicon-collapse-down pull-right"></span>
        </h3>
      </div>
      <div id="conversion-body" class="collapse">
        <div class="panel-body">
          {% if conversion == 'unflatten' %}
            <p class="explanation">{% trans "In order to validate your data we needed to convert it to XML." %}</p>
          {% else %}
            <p class="explanation"></p>
            {% if conversion_error %}
                {% include 'error_extra.html' %}
            {% endif %}
          {% endif %}
          {% if conversion_warning_messages %}
            <br>
            <p>{% trans "Conversion <strong>errors:</strong>" %}</p>
            <ul class="left-space">
              {% for warning_message in conversion_warning_messages %}
                <li>{{warning_message}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {% endblock conversion %}

  {% block validation %}
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#validation-body">
      <h3 class="panel-title panel-title-explore">
        {% if validation_errors %}
           <span class="font-tick cross" aria-hidden="true"></span>
           {% trans "Invalid against Schema " %}<small>{% blocktrans count n_errors=validation_errors_count %} {{n_errors}} Error.{% plural %}{{n_errors}} Errors {% endblocktrans %}</small>
        {% else %}
           <span class="font-tick tick" aria-hidden="true"></span>
          {% trans "Valid against Schema" %}
        {% endif %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="validation-body" class="collapse">
      <div class="panel-body">
        <p class="explanation">
        {% if validation_errors %}
            {% trans "Sorry your data is invalid against" %}
        {% else %}
          {% trans "Congratulations! Your data is valid against" %}
        {% endif %}
          <a href="http://iatistandard.org/203/schema/">IATI {{ schema_name}} Schema version 2.03</a>.
        </p>
        <div class="explore-help"></div>
        {% if validation_errors %}
          <br>
          <p class="explanation">&nbsp;{% trans "There are some <strong>validation errors</strong> in your data, please check them in the table below." %}</p>
          <br>
          {% include "validation_table.html" %}
          {% for error_json, values in validation_errors %}
            {% with error=error_json|json_decode %}
              {% cove_modal_errors className="validation-errors-"|concat:forloop.counter modalTitle=error.message errorList=values file_type=file_type full_table=True %}
            {% endwith %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock validation %}

  {% block embedded_codelists %}
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#codelist-embedded-body">
      <h3 class="panel-title panel-title-explore">
        {% if invalid_embedded_codelist_values %}
           <span class="font-tick cross" aria-hidden="true"></span>
           {% trans "Invalid Embedded Codelist Values" %}
        {% else %}
           <span class="font-tick tick" aria-hidden="true"></span>
           {% trans "Valid Embedded Codelist Values" %}
        {% endif %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="codelist-embedded-body" class="collapse">
      <div class="panel-body">
        <p class="explanation">
        {% if invalid_embedded_codelist_values %}
            {% trans "Sorry your data contains values in embedded codelists that do not exist in the standard" %}
        {% else %}
          {% trans "Congratulations! Your embedded codelist values are all valid" %}
        {% endif %}
        </p>
        <div class="explore-help"></div>
        {% for codelist_item in invalid_embedded_codelist_values %}
           {% include "cove_iati/codelist_panel.html" %}

            <div class="modal fade" id="{{codelist_item.codelist_path_slug}}_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Invalid Embedded Codelist Values</h4>
                  </div>
                  <div class="modal-body">
                    {% with full_list=True %}
                      {% include "cove_iati/codelist_panel.html" %}
                    {% endwith %} 
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock embedded_codelists %}


  {% block non_embedded_codelists %}
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#codelist-non-embedded-body">
      <h3 class="panel-title panel-title-explore">
        {% if invalid_non_embedded_codelist_values %}
           <span class="font-tick cross" aria-hidden="true"></span>
           {% trans "Invalid Non Embedded Codelist Values" %}
        {% else %}
           <span class="font-tick tick" aria-hidden="true"></span>
           {% trans "Valid Non Embedded Codelist Values" %}
        {% endif %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="codelist-non-embedded-body" class="collapse">
      <div class="panel-body">
        <p class="explanation">
        {% if invalid_non_embedded_codelist_values %}
            {% trans "Sorry your data contains values in codelists that do not exist in the standard" %}
        {% else %}
          {% trans "Congratulations! Your codelist values are all valid" %}
        {% endif %}
        </p>
        <div class="explore-help"></div>
        {% for codelist_item in invalid_non_embedded_codelist_values %}
           {% include "cove_iati/codelist_panel.html" %}

            <div class="modal fade" id="{{codelist_item.codelist_path_slug}}_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Invalid Non Embedded Codelist Values</h4>
                  </div>
                  <div class="modal-body">
                    {% with full_list=True %}
                      {% include "cove_iati/codelist_panel.html" %}
                    {% endwith %} 
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock non_embedded_codelists %}


  {% block ruleset %}
  {% if not ruleset_disabled %}
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#rulesets-body">
      <h3 class="panel-title panel-title-explore">
        {% if ruleset_errors %}
          {% if ruleset_errors.0.exception %}
            <span class="glyphicon glyphicon-warning-sign text-warning" aria-hidden="true"></span>
            {% trans "Ruleset Errors " %}
            <small><strong>{% trans "Failed" %}</strong></small>
          {% else %}
            <span class="font-tick question" aria-hidden="true"></span>
            {% trans "Ruleset Errors " %}
            <small><strong>{% blocktrans count n_errors=ruleset_errors_count %} {{n_errors}} Error.{% plural %}{{n_errors}} Errors {% endblocktrans %}</strong></small>
          {% endif %}
        {% else %}
           <span class="font-tick tick" aria-hidden="true"></span>
          {% trans "Ruleset Checks" %}
        {% endif %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="rulesets-body" class="collapse">
      <div class="panel-body">
        <p class="explanation">
        {% if ruleset_errors %}
          {% if ruleset_errors.0.exception %}
              {% trans "There was a problem running ruleset checks." %}</p>
            {% if validation_errors %}
              <br>
              <p>{% trans "This may be due to validation errors in your data, please fix them and try again." %}</p>
            {% endif %}
          {% else %}
            {% trans "Sorry your data contains ruleset errors" %}</p>
            <button name="ruleset-table-toggle" class="btn btn-success btn-sm pull-right">See same results <strong>by activity</strong></button>
          {% endif %}
        {% else %}
        <p class="explanation">{% trans "Congratulations! Your data passes all IATI ruleset checks" %}</p>
        {% endif %}
        {% if ruleset_errors and not ruleset_errors.0.exception %}
          <br>
          <p class="explanation">&nbsp;{% trans "There are some <strong>ruleset errors</strong> in your data, please check them in the table below." %}</p>
          <br>
          <h4 class="noscript-notice">Results group by Ruleset</h2>
          {% include "cove_iati/ruleset_table_by_rule.html" with used_ruleset_errors=ruleset_errors ruleset_table_id="ruleset-by-rule" %}
          <h4 class="noscript-notice">Results group by Activity</h2>
          {% include "cove_iati/ruleset_table_by_activity.html" with used_ruleset_errors=ruleset_errors ruleset_table_id="ruleset-by-activity"%}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endblock ruleset %}


  {% block org_ref %}
  {% if not ruleset_disabled %}
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#org-ref-body">
      <h3 class="panel-title panel-title-explore">
        {% if total_org_error_count %}
          <span class="font-tick question" aria-hidden="true"></span>
          {% trans "Organisaton References" %}
          <small><strong>{% blocktrans count n_errors=total_org_error_count %} {{n_errors}} Warning.{% plural %}{{n_errors}} Warnings {% endblocktrans %}</strong></small>
        {% else %}
          {% trans "Organisaton References" %}
           <span class="font-tick tick" aria-hidden="true"></span>
        {% endif %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="org-ref-body" class="collapse">
      <div class="panel-body">
        <p class="explanation">
        {% if org_ruleset_errors and not org_ruleset_errors.0.exception %}
        <p class="explanation"><span class="font-tick question" aria-hidden="true"></span> {% trans "There is" %} {{org_ruleset_errors_count}} {% trans "organisation ref(s) that are incorrectly formatted:" %}</p>
          <br>
          <h4 class="noscript-notice">Incorrectly Formatted Organization Refs </h2>
          {% include "cove_iati/ruleset_table_by_rule.html" with used_ruleset_errors=org_ruleset_errors ruleset_table_id="org-ruleset-by-rule" %}
          <br>
        {% endif %}

        {% if org_refs.not_found_orgs_count %}
           <br>
           <p class="explanation"><span class="font-tick question" aria-hidden="true"></span> {% trans "There is" %} {{org_refs.not_found_orgs_count}} {% trans "organisation ref(s) that can not be found in the publisher list or has a recognised prefix:" %}</p>
           <br>
           {% include "cove_iati/org_refs_not_found.html" with used_ruleset_errors=org_ruleset_errors ruleset_table_id="org-ruleset-by-rule" %}

        {% endif %}


        {% if org_refs.publisher_count  %}
          <br>
          <p class="explanation"><span class="font-tick tick" aria-hidden="true"></span>There are {% blocktrans count n_errors=org_refs.publisher_count %} {{n_errors}} publisher {% plural %}{{n_errors}} publishers {% endblocktrans %}
          {% blocktrans%} from the iati register used in this dataset: {% endblocktrans %}</p>
          <br>
          {% include "cove_iati/org_refs_publisher.html" with used_ruleset_errors=org_ruleset_errors ruleset_table_id="org-ruleset-by-rule" %}
          </p>
        {% endif %}

        {% if org_refs.org_prefix_count  %}
          <br>
          <p class="explanation"><span class="font-tick tick" aria-hidden="true"></span>{% blocktrans%}There are {% endblocktrans %} {{org_refs.org_prefix_count}} {% blocktrans%} matched organization prefix(es) in this dataset: {% endblocktrans %}</p>
          <br>
          {% include "cove_iati/org_ref_with_org_id.html" with used_ruleset_errors=org_ruleset_errors ruleset_table_id="org-ruleset-by-rule" %}
          </p>
        {% endif %}


      </div>
    </div>
  </div>
  {% endif %}
  {% endblock org_ref %}


  {% block download_and_share %}
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-explore" data-toggle="collapse" data-target="#save-and-share-body">
      <h3 class="panel-title panel-title-explore"><span class="glyphicon glyphicon-save"></span>
        {% trans "Download and Share" %}
        <span class="glyphicon glyphicon-collapse-down pull-right"></span>
      </h3>
    </div>
    <div id="save-and-share-body" class="collapse {% if conversion == 'flatten' %}in{% endif %}">
      <div class="panel-body">
        <h4><span class="glyphicon glyphicon-download-alt"></span> Download</h4>
        <p>{% trans "The following files are available to download:" %}</p>
        <ul class="left-space">
          <li>
            <a href="{{original_file.url}}">{% trans "Original file" %} ({{file_type}})</a> {{original_file.size|filesizeformat}}
          </li>
          {% if not conversion_error %}
            {% if conversion == 'unflatten' %}
            <li>
              <a href="{{converted_url}}">{{XML}} ({% trans converted %})</a> {{converted_file_size|filesizeformat}}
            </li>
            {% elif conversion == 'flatten' %}
            <li>
              <a href="{{converted_url}}.xlsx">{{xlsx}} ({% trans converted %})</a> {{converted_file_size|filesizeformat}}
            </li>
              {% if request.cove_config.convert_titles %}
              <li>
                <a href="{{converted_url}}-titles.xlsx">{{xlsx_titles}} ({% trans converted %})</a> {{converted_file_size_titles|filesizeformat}}
              </li>
              {% endif %}
            {% endif %}
          {% endif %}
        </ul>
        <h4><span class="glyphicon glyphicon-share"></span> Share</h4>
        <p>{% trans "Use the following url to share these results:" %}</p>
        <div class="copy-div">
            <span class="copy-span"> {{ current_url }} <span id="copy-url-button" title="Click to copy." data-clipboard-text={{ current_url }} class="btn copy-button glyphicon glyphicon-copy" aria-hidden="true"></span> </span>
        </div>
        <h4><span class="glyphicon glyphicon-new-window"></span> Preview</h4>
        <p>Generate a private d-preview site with the IATI xml. For preview purposes only. Data will not be uploaded to the main live d-portal website.</p>
        <p><a target="_blank" href="http://d-preview.codeforiati.org/upload?xmlurl={{ request.scheme }}://{{ request.get_host }}{% if conversion == 'unflatten' %}{{ converted_url }}{% else %}{{ original_file.url }}{% endif %}" class="btn btn-success btn-sm">Generate a d-preview</a></p>
        {% comment %}Translators: Paragraph that describes the application{% endcomment %}
        <br>
        <p>{% blocktrans %}After 7 days all uploaded data is deleted from our servers, and the results will no longer be available. Anyone using the link to this page after that will be shown a message that tells them the file has been removed.{% endblocktrans %}</p>
        <p>{% blocktrans %}These results will be available for 7 days from the day the data was first uploaded. You can revisit these results until then.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
  {% endblock download_and_share %}

{% endblock explore_content %}

{% block extrafooterscript %}
  {{ block.super }} 
  <script type="text/javascript">
    $("[data-toggle='collapse']").click(function() {
      var $this = $(this);
      if($this.attr("aria-expanded") === "true"){
          $this.find('.glyphicon-collapse-up').removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down')
      } else {
          $this.find('.glyphicon-collapse-down').removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up')
      }
    });
    $("[name='ruleset-table-toggle']").click(function() {
        var $tableByRule = $('#ruleset-by-rule');
        var $tableByActivity = $('#ruleset-by-activity');

        if ($($tableByActivity).is(":visible")){
            $($tableByActivity).hide();
            $($tableByRule).fadeIn('slow');
            $(this).html('See same results <strong>by activity</strong>');
        }
        else {
            $($tableByRule).hide();
            $($tableByActivity).fadeIn('slow');
            $(this).html('See same results <strong>by ruleset</strong>');
        }
    });
    function expand_all() {
        $('.collapse').collapse('show');
        $("[data-toggle='collapse']").find('.glyphicon-collapse-down').removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up');
    }
    function collapse_all() {
        $('.collapse').collapse('hide');
        $("[data-toggle='collapse']").find('.glyphicon-collapse-up').removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down');
    }
  </script>
{% endblock extrafooterscript %}


{% comment %}
<!-- These components haven't been used in the UI redesign -->
{% cove_modal_list className="duplicate-id-modal" modalTitle="Duplicate IDs" itemList=grants_aggregates.duplicate_ids %}
{% cove_modal_list className="funding-org-identifier-prefixes" modalTitle="Funding Organisation ID Prefixes" itemList=grants_aggregates.funding_org_identifier_prefixes %}
{% cove_modal_list className="funding-org-identifiers-unrecognised-prefixes" modalTitle="Unrecognised Funding Organisation ID Prefixes" itemList=grants_aggregates.funding_org_identifiers_unrecognised_prefixes %}
{% cove_modal_list className="recipient-org-identifier-prefixes" modalTitle="Recipient Organisation ID Prefixes" itemList=grants_aggregates.recipient_org_identifier_prefixes %}
{% cove_modal_list className="recipient-org-identifiers-unrecognised-prefixes" modalTitle="Unrecognised Recipient Organisation ID Prefixes" itemList=grants_aggregates.recipient_org_identifiers_unrecognised_prefixes %}
<div class="modal fade distinct-funding-orgs" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h5 class="modal-title">Recipient Organisation IDs</h5>
      </div>
      <ul class="list-group">
        {% for id in grants_aggregates.distinct_funding_org_identifier %}
           <li class="list-group-item">{{ id }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!--  -->
{% endcomment %}
