{% load i18n %}

<table class="table table-condensed table-striped" id="{{ruleset_table_id}}">
<thead> 
  <tr>
    <th>{% trans 'Used Organization Prefix' %}</th>
    <th>{% trans 'Total Count' %}</th>
    <th>{% trans 'Org prefix name' %}</th>
    <th>{% trans 'Count by Location' %}</th>
    <th>{% trans 'Activities (max 5 shown)' %}</th>
  </tr> 
</thead>
<tbody>
  {% for org_prefix, org_detail in org_refs.org_prefix_list %}
    <tr>
      <td> <strong>{{org_prefix}}</strong></td>
      <td> {{org_detail.count}}</td>
      <td> {{org_detail.name}}</td>

      <td> 
        {% for type, count in org_detail.type_count.items %}
           {% if count %}
             {{type}}: {{count}} <br/>
           {% endif  %}
        {% endfor %}
      </td>

      <td>  
        {% for activity_id in org_detail.activity_ids %}
            {% if forloop.counter < 6 %}
               {{activity_id}} <br/>
            {% endif %}
        {% endfor%}
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
