{% load i18n %}

<table class="table table-condensed">
<thead> 
  <tr>
    <th>{% trans 'Rule Set' %}</th>
    <th>{% trans 'Rule' %}</th>
    <th>{% trans 'Activity' %}</th>
    <th>{% trans 'Explanation' %}</th>
    <th>{% trans 'Path' %}</th>
  </tr> 
</thead>
<tbody>
{% for ruleset, result in ruleset_errors.items %}
  <tr>
    <td>{{ruleset}}</td>
    {% for rule, violations in result.items %}
      {% if forloop.first %}
      <td>{{rule}}</td>
                    {% for instance in violations %}
                    {% if forloop.first %}
                        <td>{{instance.0}}</td>
                        <td>{{instance.1}}</td>
                        <td>{{instance.2}}</td>
                      </tr>
                    {% else %}
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{instance.0}}</td>
                        <td>{{instance.1}}</td>
                        <td>{{instance.2}}</td>
                      </tr>
                    {% endif %}
                    {% endfor %}
      {% else %}
      <tr>
      <td>&nbsp;</td>
      <td>{{rule}}</td>
                    {% for instance in violations %}
                    {% if forloop.first %}
                        <td>{{instance.0}}</td>
                        <td>{{instance.1}}</td>
                        <td>{{instance.2}}</td>
                      </tr>
                    {% else %}
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{instance.0}}</td>
                        <td>{{instance.1}}</td>
                        <td>{{instance.2}}</td>
                      </tr>
                    {% endif %}
                    {% endfor %}
      {% endif %}
    {% endfor %}
{% endfor %}
</tbody>
</table>
