{% extends 'base.html' %}
{% block content %}

{% load i18n %}
{% trans 'Converted from Original' as converted %}
{% trans 'Original' as original %}

<!--Download Converted Files-->
<div class="panel panel-success">
  <div class="panel-heading"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>{% trans 'Download Files' %}</div>
  <div class="panel-body">
    {% if conversion == 'flatten' %}
      <ul>
        <li><a href="{{converted_url}}.xlsx">XLSX ({{ converted }})</a></li>
        <li><a href="{{original_file.url}}">JSON ({{ original }})</a></li>
      </ul>    
    {% elif conversion == 'unflatten' %}
      <ul>
        <li><a href="{{original_file.url}}">XLSX ({{ original }})</a></li>
        <li><a href="{{converted_url}}">JSON ({{ converted }})</a></li>
      </ul>
    {% endif %}
  </div>
</div>

<!-- Count of Releases -->
<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">{% trans 'Number of Releases' %}</div>
      <div class="panel-body">
        {{releases_aggregates.count}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
