{% extends 'cove_ocds/explore_base.html' %}
{% load i18n %}


{% block key_facts %}
{% with releases_aggregates as ra %}


  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Headlines' %}</h4>
      </div>
      <div class="panel-body">
        
        {% if conversion_warning_messages or conversion_warning_messages_titles %}
          <div class="conversion message"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>{% blocktrans %}Please read the <a href="#conversion-warning">conversion warnings</a> below.{% endblocktrans %}</div>
        {% endif %} 
        <div class="validation message">  
        {% if validation_errors %}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><b>{% trans "Failed " %}</b>
        {% else %} 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% trans "Passed " %} 
        {% endif %}
        {% blocktrans %}validation against {% endblocktrans %}<a href="{{ schema_url }}">{{ schema_url }}</a>.
        {% if validation_errors %}<br/>{% blocktrans %}See <a href="#validation-errors">Validation Errors</a> below.{% endblocktrans %}{% endif %}
        </div>

         <div class="key-facts message">
           <strong>At a glance</strong>
           <ul>
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
             {% blocktrans count count=records_aggregates.count %}This file contains <strong>{{count}} record.</strong>{% plural %}This file contains <strong>{{count}} record.</strong>{% endblocktrans %}
             </li>
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
             {% blocktrans count count=records_aggregates.unique_ocids|length %}There is <strong>{{count}} unique OCID.</strong>{% plural %}There are <strong>{{count}} unique OCIDs.</strong>{% endblocktrans %}
             </li>
             {% if json_data.publisher %}
                <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  {% trans "The publisher named in the file is" %} <strong>{{json_data.publisher.name}}</strong>.
                </li>
             {% endif %}
             {% if json_data.license %}
                <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  {% trans "The license is" %} <a href="{{json_data.license}}">{{json_data.license}}</a>.
                </li>
             {% endif %}
              
             {% if ra.duplicate_release_ids %} 
                <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                  {% blocktrans count count=ra.duplicate_release_ids|length %}There is {{ count }} <a href="#key-field-info">duplicate release ID</a> in this package.{% plural %}There are {{ count }} <a href="#key-field-info">duplicate release IDs</a> in this package.{% endblocktrans %}
                </li>
             {% endif %}
             
            {% if data_only %}
            <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% blocktrans count count=data_only|length %}This file uses {{count}} <a href="#additional-fields">additional field</a> not used in the standard.{% plural %}This file uses {{count}} <a href="#additional-fields">additional fields</a> not used in the standard.{% endblocktrans %}
             </li>
             {% endif %}
             {% if csv_encoding and csv_encoding != "utf-8" %}
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              {% trans "This file is not 'utf-8' encoded (it is" %} <strong>{{csv_encoding}}</strong> {% trans "encoded)." %}
             </li>
             {% endif %}
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
               {% trans "Data " %} 
               {% if source_url %}
                  {% trans "downloaded from " %} {{source_url}} 
               {% else %}
                 {% trans "uploaded " %} 
               {% endif %}
               {% trans "on " %} {{created_datetime}}
            </li>
           </ul>
         </div>
      </div>
    </div>
  </div>

{% endwith %}
{% endblock %}







{% block explore_additional_content %}
<div class="row">
  {% if schema_url %}

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Validates against the schema?' %}</h4>
      </div>
      <div class="panel-body">
        {% if validation_errors %}No{% else %}Yes{% endif %}

      </div>
    </div>
  </div>

  {% endif %}
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Number of records' %}</h4>
      </div>
      <div class="panel-body">
        {{records_aggregates.count}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% blocktrans %}Unique OCIDs{% endblocktrans %}({{records_aggregates.unique_ocids}})
        </h4>
      </div>
      <div class="panel-body">
        <ul>
        {% for ocid in records_aggregates.unique_ocids %}
        <li>{{ocid}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div><!--End Row -->
<div class="row"> <!--Start Row (Detail Table)-->
  <div class="col-md-12">
    <table class="table table-striped">
      <caption>{% trans "Records Table:" %}</caption>
      <thead>
        <tr>
          <th>ocid</th>
          <th>record count</th>
          <th>compiledRelease</th>
          <th>versionedRelease</th>
        </tr>
      </thead>
      <tbody>
        {% for record in json_data.records %}
        <tr>
          <td>{{ record.ocid }}</td>
          <td>{{ record.releases|length }}</td>
          <td>{% if record.compiledRelease %}Yes{% else %}No{% endif %}</td>          
          <td>{% if record.versionedRelease %}Yes{% else %}No{% endif %}</td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div><!--End Row -->
{% endblock %}
