{% extends 'cove_ocds/explore_base.html' %}
{% load i18n %}
{% load cove_tags %}
{% load staticfiles %}

{% block key_facts %}
{% with releases_aggregates as ra %}
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Headlines' %}</h4>
      </div>
      <div class="panel-body">
        {% if conversion_warning_messages or conversion_warning_messages_titles %}
          <div class="conversion message"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>{% blocktrans %}Please read the <a href="#conversion-warning">conversion warnings</a> below.{% endblocktrans %}</div>
        {% endif %} 
        <div class="validation message">
        {% if validation_errors or additional_closed_codelist_values %}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><b>{% trans "Failed " %}</b>
        {% else %} 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% trans "Passed " %} 
        {% endif %}
        {% blocktrans %}structural correctness checks against {% endblocktrans %}<a href="{{ schema_url }}">OCDS release package schema version {{ version_used_display }}</a>.
        {% if validation_errors %}<br/>{% blocktrans %}See <a href="#validation-errors">Structural Errors</a> below.{% endblocktrans %}{% endif %}
        </div>
        {% if extensions and extensions.invalid_extension %}
        <div class="message">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% blocktrans %}<strong>Failed </strong>to apply {% endblocktrans %}{% blocktrans count count=extensions.invalid_extension.keys|length %} {{count}} extension {% plural %}{{count}} extensions {% endblocktrans %}{% blocktrans %} to the schema.<br/>See <a href="#schema-extensions">Extensions</a> below.{% endblocktrans %}
        </div>
        {% endif %} 

          <div class="key-facts message">
           <strong>At a glance</strong>
           <ul>
             {% if ra.release_count %}
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
             {% blocktrans count count=ra.release_count %}This file contains <strong>{{count}} release</strong>{% plural %}This file contains <strong>{{count}} releases</strong>{% endblocktrans %}
             {% blocktrans count count=ra.unique_ocids|length %} describing <strong>{{count}} contracting process</strong>{% plural %} describing <strong>{{count}} contracting processes.</strong>{% endblocktrans %}
             </li>
             {% endif %}
             {% if data_schema_version %}
                <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  {% trans "The schema version specified in the file is" %} <strong>{{data_schema_version}}</strong>.
                </li>
             {% endif %}
             {% if json_data.publisher %}
                <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  {% trans "The publisher named in the file is" %} <strong>{{json_data.publisher.name}}</strong>.
                </li>
             {% endif %}
             {% if json_data.license %}
                <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  {% trans "The license is" %} <a href="{{json_data.license}}">{{json_data.license}}</a>.
                </li>
             {% endif %}
             {% if extensions and extensions.is_extended_schema %}
                <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  {% with n_invalid=extensions.invalid_extension.keys|length %}
                    {% trans "This file applies" %}{% blocktrans count count=extensions.extensions.keys|length|subtract:n_invalid %}{{count}} valid <a href="#schema-extensions">extension</a>{% plural %} {{count}} valid <a href="#schema-extensions">extensions</a> {% endblocktrans %} {% trans "to the schema" %}.
                  {% endwith %}
                </li>
             {% endif %}
             {% if ra.duplicate_release_ids %} 
                <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                  {% blocktrans count count=ra.duplicate_release_ids|length %}There is {{ count }} <a href="#key-field-info">duplicate release ID</a> in this package.{% plural %}There are {{ count }} <a href="#key-field-info">duplicate release IDs</a> in this package.{% endblocktrans %}
                </li>
             {% endif %}
            {% if data_only %}
            <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% blocktrans count count=data_only|length %}This file uses {{count}} <a href="#additional-fields">additional field</a> not used in the standard.{% plural %}This file uses {{count}} <a href="#additional-fields">additional fields</a> not used in the standard.{% endblocktrans %}
             </li>
             {% endif %}
             {% if csv_encoding and csv_encoding != "utf-8-sig" %}
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% trans "This file is not 'utf-8' encoded (it is" %} <strong>{{csv_encoding}}</strong> {% trans "encoded)." %}
             </li>
             {% endif %}
             {% if deprecated_fields %}
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% blocktrans count count=deprecated_fields|length %}This file uses {{count}} <a href="#deprecated-fields">deprecated field</a>.{% plural %} This file uses {{count}} <a href="#deprecated-fields">deprecated fields</a>.{% endblocktrans %}
              </li>
             {% endif %}
             <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
               {% trans "Data " %} 
               {% if source_url %}
                  {% trans "downloaded from " %} {{source_url}} 
               {% else %}
                 {% trans "uploaded " %} 
               {% endif %}
               {% trans "on " %} {{created_datetime}}.
            </li>
           </ul>
        </div>
      </div>
    </div>
  </div>

{% endwith %}
{% endblock %}


{% block explore_additional_content %}
{% with releases_aggregates as ra %}
{% if ra %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Key Field Information' %}</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <b>{% trans "Initiation Types: " %}</b> {{ra.unique_initation_type|join:", "}}<br/>
            <b>{% trans "Tags:" %}</b> <br/> 
            <ul class="list-unstyled">
              {% for key, value in ra.tags.items %} 
                <li class="indent"> <b> {{key}}: </b> {{value}}</li> 
              {% endfor %}
            </ul>
            <b>{% trans "Planning: " %}</b> {{ra.planning_count}}<br/>
            <b>{% trans "Tenders: " %}</b> {{ra.tender_count}}<br/>

            <b>{% trans "Awards: "%}</b><br/>
            <ul class="list-unstyled">
              <li><b class="indent">{% trans "Total Count: " %}</b> {{ra.award_count}}</li>
              <li><b class="indent">{% trans "Unique OCIDs: " %}</b> {{ra.processes_award_count}}</li>
            </ul>

            <b>{% trans "Contracts: "%}</b><br/>
            <ul class="list-unstyled">
              <li><b class="indent">{% trans "Total Count: " %}</b> {{ra.contract_count}}</li>
              <li><b class="indent">{% trans "Unique OCIDs: " %}</b> {{ra.processes_contract_count}}</li>
              {% if ra.contracts_without_awards %}
                  <li style="color: #A94442"><b class="indent">{% trans "Contracts with no awards: " %}</b> {{ra.contracts_without_awards|length}}</li>
              {% endif %}
            </ul>

            <b>{% trans "Implementation: "%}</b><br/>
            <ul class="list-unstyled">
              <li><b class="indent">{% trans "Total Count: " %}</b> {{ra.implementation_count}}</li>
              <li><b class="indent">{% trans "Unique OCIDs: " %}</b> {{ra.processes_implementation_count}}</li>
            </ul>
          </div>
          <div class="col-md-4">
            <b>{% trans "Earliest release: " %}</b> {{ra.min_release_date|date:"j M Y, H:i (e)"}}<br/>
            <b>{% trans "Latest release: " %}</b> {{ra.max_release_date|date:"j M Y, H:i (e)"}}<br/><br/>
            <b>{% trans "Earliest tender start: " %}</b> {{ra.min_tender_date|date:"j M Y, H:i (e)"}}<br/>
            <b>{% trans "Latest tender start: " %}</b> {{ra.max_tender_date|date:"j M Y, H:i (e)"}}<br/><br/>
            <b>{% trans "Earliest award: " %}</b> {{ra.min_award_date|date:"j M Y, H:i (e)"}}<br/>
            <b>{% trans "Latest award: " %}</b> {{ra.max_award_date|date:"j M Y, H:i (e)"}}<br/><br/>
            <b>{% trans "Earliest contract start: " %}</b> {{ra.min_contract_date|date:"j M Y, H:i (e)"}}<br/>
            <b>{% trans "Latest contract start: " %}</b> {{ra.max_contract_date|date:"j M Y, H:i (e)"}}<br/><br/>
          </div>
          <div class="col-md-4">
            <b>{% trans "Total Unique Organizations: " %}</b> {{ra.unique_org_count}}<br/>
            <ul class="list-unstyled">
              <li><b class="indent">{% trans "with address details: " %}</b> {{ra.organisations_with_address}}<br/></li>
              <li><b class="indent">{% trans "with contact points: " %}</b> {{ra.organisations_with_contact_point}}<br/></li>
              <li><b class="indent">{% trans "that have identifiers: " %}</b> {{ra.unique_org_identifier_count}}<br/></li>
              <li><b class="indent">{% trans "using schemes: " %}</b> {{ra.unique_organisation_schemes|join:", "}}</li>
            </ul>

            <b>{% trans "Organization Roles: " %}</b> <br/>
            <ul class="list-unstyled">
                <li>
                   <a data-toggle="modal" data-target=".buyer-orgs">
                     <b class="indent">{% trans "Buyers: " %}</b> {{ra.unique_buyers_count}}
                   </a>
                </li>
                <li>
                   <a data-toggle="modal" data-target=".supplier-orgs">
                     <b class="indent">{% trans "Suppliers: " %}</b> {{ra.unique_suppliers_count}}
                   </a>
                </li>
                <li>
                   <a data-toggle="modal" data-target=".procuring-orgs">
                     <b class="indent">{% trans "Procuring Entities: " %}</b> {{ra.unique_procuring_count}}
                   </a>
                </li>
                <li>
                   <a data-toggle="modal" data-target=".tenderers-orgs">
                     <b class="indent">{% trans "Tenderers: " %}</b> {{ra.unique_tenderers_count}}
                   </a>
                </li>
            </ul>

            <b>{% trans "Total Items: " %}</b> {{ra.total_item_count}}<br/>
            <b>{% trans "Items ID schemes: " %}</b> {{ra.item_identifier_schemes|join:", "}}<br/>
            <b>{% trans "Item Types: " %}</b> <br/>
            <ul class="list-unstyled">
            <li><b class="indent">{% trans "Tender: " %}</b> {{ra.tender_item_count}}</li>
            <li><b class="indent">{% trans "Award: " %}</b> {{ra.award_item_count}}</li>
            <li><b class="indent">{% trans "Contract: " %}</b> {{ra.contract_item_count}}</li>
            </ul>

            <b>{% trans "Languages: " %}</b> {{ra.unique_lang|join:", "}}<br/>
            <b>{% trans "Currencies: " %}</b> {{ra.unique_currency|join:", "}}<br/>

          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--End Row -->

{% cove_modal_list className="buyer-orgs" modalTitle="Buyer Organizations" itemList=ra.unique_buyers %}
{% cove_modal_list className="supplier-orgs" modalTitle="Supplier Organizations" itemList=ra.unique_suppliers %}
{% cove_modal_list className="procuring-orgs" modalTitle="Procuring Entities" itemList=ra.unique_procuring %}
{% cove_modal_list className="tenderers-orgs" modalTitle="Tenderers" itemList=ra.unique_tenderers %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans 'Documents' %}</h4>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{%blocktrans%}Part of Contracting Process{%endblocktrans%}</th>
            <th>{%blocktrans%}Count of Docs{%endblocktrans%}</th>
            <th>{%blocktrans%}Document Types{%endblocktrans%}</th>
          </tr>
        </thead>
        <tbody>
          {% if ra.planning_doc_count %}
          <tr>
             <td>{% trans "Planning" %}</td> <td> {{ra.planning_doc_count}} </td>
             <td> 
               <ul class="list-unstyled">
                 {% for doc_type, count in ra.planning_doctype.items %}
                    <li> <b> {{doc_type}}: </b> {{count}} </li>
                 {% endfor %}
               </ul> 
             </td>
          </tr>
          {% endif %}
          {% if ra.tender_doc_count %}
          <tr>
             <td>{% trans "Tender" %}</td> <td> {{ra.tender_doc_count}} </td>
             <td> 
               <ul class="list-unstyled">
                 {% for doc_type, count in ra.tender_doctype.items %}
                    <li> <b> {{doc_type}}: </b> {{count}} </li>
                 {% endfor %}
               </ul> 
             </td>
          </tr>
          {% endif %}
          {% if ra.tender_milestones_doc_count %}
          <tr>
             <td>{% trans "Tender Milestones" %}</td> <td> {{ra.tender_milestones_doc_count}} </td>
             <td> 
               <ul class="list-unstyled">
                 {% for doc_type, count in ra.tender_milestones_doctype.items %}
                    <li> <b> {{doc_type}}: </b> {{count}} </li>
                 {% endfor %}
               </ul> 
             </td>
          </tr>
          {% endif %}
          {% if ra.award_doc_count %}
          <tr>
             <td>{% trans "Awards" %}</td> <td> {{ra.award_doc_count}} </td>
             <td> 
               <ul class="list-unstyled">
                 {% for doc_type, count in ra.award_doctype.items %}
                    <li> <b> {{doc_type}}: </b> {{count}} </li>
                 {% endfor %}
               </ul> 
             </td>
          </tr>
          {% endif %}
          {% if ra.contract_doc_count %}
          <tr>
             <td>{% trans "Contracts" %}</td> <td> {{ra.contract_doc_count}} </td>
             <td> 
               <ul class="list-unstyled">
                 {% for doc_type, count in ra.contract_doctype.items %}
                    <li> <b> {{doc_type}}: </b> {{count}} </li>
                 {% endfor %}
               </ul> 
             </td>
          </tr>
          {% endif %}
          {% if ra.implementation_doc_count %}
          <tr>
             <td>{% trans "Implementation" %}</td> <td> {{ra.implementation_doc_count}} </td>
             <td> 
               <ul class="list-unstyled">
                 {% for doc_type, count in ra.implementation_doctype.items %}
                    <li> <b> {{doc_type}}: </b> {{count}} </li>
                 {% endfor %}
               </ul> 
             </td>
          </tr>
          {% endif %}
          {% if ra.implementation_milestones_doc_count %}
          <tr>
             <td>{% trans "Implementation Milestones" %}</td> <td> {{ra.implementation_milestones_doc_count}} </td>
             <td> 
               <ul class="list-unstyled">
                 {% for doc_type, count in ra.implementation_milestones_doctype.items %}
                    <li> <b> {{doc_type}}: </b> {{count}} </li>
                 {% endfor %}
               </ul> 
             </td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>
  </div>
</div><!--End Row -->
{% else %}
<div class="row"> <!--Start Row (Detail Table)-->
  <div class="col-xs-12">
    <div class="alert alert-danger">
      {%blocktrans%}Statistics cannot be produced as data is not structurally correct.{%endblocktrans%}
    </div>
  </div>
</div>
{% endif %}

{% endwith %}


<div class="row"> <!--Start Row (Detail Table)-->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           {% trans "Releases Table:" %}
        </h4>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>OCID</th>
              <th>{%blocktrans%}Release Date{%endblocktrans%}</th>
              <th>{%blocktrans%}Tags{%endblocktrans%}</th>
              <th>{%blocktrans%}Descriptions{%endblocktrans%}</th>
              <th>{%blocktrans%}Purchasers{%endblocktrans%}</th>
            </tr>
          </thead>
          <tbody>
            {% for release in releases %}
            <tr>
              <td>{{ release.ocid }}</td>
              <td>{{ release.date|date:"j M Y, H:i (e)" }}</td>
              <td>{% if release.tag %}{{ release.tag|join:", " }}{% endif %}</td>
              <td>
                <ul class="list-unstyled">
                  {% if release.tender.title %} 
                      <li> <b>{%blocktrans%}Tender Title:{%endblocktrans%}</b> {{ release.tender.title }}</li>
                  {% endif %} 
                  {% if release.tender.description %} 
                      <li> <b> {%blocktrans%}Tender Description:{%endblocktrans%}</b> {{ release.tender.description }}</li>
                  {% endif %} 
                  {% for item in release.tender.items %}
                    {% if item.description %} 
                      <li> <b> {%blocktrans%}Tender Item Description:{%endblocktrans%}</b> {{ item.description }}</li>
                    {% endif %} 
                  {% endfor %}
                  {% for award in release.awards %}
                    {% if award.title %} 
                      <li> <b> {%blocktrans%}Award Title:{%endblocktrans%}</b> {{ award.title }}</li>
                    {% endif %} 
                    {% if award.description %} 
                      <li> <b> {%blocktrans%}Award Description:{%endblocktrans%}</b> {{ award.description }}</li>
                    {% endif %} 
                  {% endfor %}
                  {% for contract in release.contracts %}
                    {% if contract.description %} 
                      <li> <b> {%blocktrans%}Contract Title:{%endblocktrans%}</b> {{ contract.title }}</li>
                    {% endif %} 
                    {% if contract.description %} 
                      <li> <b> {%blocktrans%}Contract Description:{%endblocktrans%}</b> {{ contract.description }}</li>
                    {% endif %} 
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul class="list-unstyled">
                  {% if release.buyer.name or release.buyer.identifier.id %} 
                  <li> <b> {%blocktrans%}Buyer:{%endblocktrans%}</b> 
                       {% if release.buyer.name %} {{release.buyer.name}} {%endif%}
                       {% if release.buyer.identifier.id %} ({{ release.buyer.identifier.id }}) {%endif%}
                  </li>
                  {% endif %} 
                  {% if release.tender.procuringEntity.name or release.tender.procuringEntity.identifier.id %} 
                  <li> <b> {%blocktrans%}Procuring Entity:{%endblocktrans%}</b> 
                       {% if release.tender.procuringEntity.name %} {{release.tender.procuringEntity.name}} {%endif%}
                       {% if release.tender.procuringEntity.identifier.id %} ({{ release.tender.procuringEntity.identifier.id }}) {%endif%}
                  </li>
                  {% endif %} 
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!--End Row-->

{% if ocds_show_data %}
  <div class="row"> 
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
             {% trans "Explore your data:" %}
          </h4>
        </div>
        <div class="panel-body">
          <p>
            {% blocktrans %}This section provides a visual representation of the data, use it to check whether the data makes sense in the type of tool a user might use to explore it.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}Extensions and additional fields are hidden by default, click the 'Extra fields' buttons or open the 'Extra fields' section to view them.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}When viewing an OCDS record, use the numbers at the top of the visualization to browse the change history. New and changed fields are highlighted, use this feature to check whether any fields have changed unexpectedly.{% endblocktrans %}
          </p>
            <div id="input-json-container" class="hide">
              <input id="input-json" name="input-json" value="{{ocds_show_data}}">
            </div>

            <div id="container">
            </div>
          <div id="graph"></div>  
        </div>
      </div>
    </div>
  </div>
{% endif %}



{% endblock %}
