{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}

<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_form forms.upload_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans 'Submit' %}
        </button>
    {% endbuttons %}
</form>
<form method="POST" action=".">{% csrf_token %}
    {% bootstrap_form forms.url_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans 'Submit' %}
        </button>
    {% endbuttons %}
</form>

{% endblock %}
