{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}

<div class=""></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{% trans "Upload" %}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
            {% bootstrap_form forms.upload_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Submit' %}
                </button>
            {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>{% trans "Link" %}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <form method="POST" action=".">{% csrf_token %}
            {% bootstrap_form forms.url_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Submit' %}
                </button>
            {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span class="glyphicon glyphicon-paste" aria-hidden="true"></span>{% trans "Paste" %}
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <form method="POST" action=".">{% csrf_token %}
            {% bootstrap_form forms.text_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Submit' %}
                </button>
            {% endbuttons %}
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}



{% block extrafooterscript %}
 <script>
  $('#collapseThree').collapse({
  hide: true
  })
  $('#collapseTwo').collapse({
  hide: true
  })
</script>
{% endblock %}
