{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<p>
Legend: <span class="label label-success">Up to date and OK</span> <span class="label label-danger">Up to date and Failed</span> <span class="label label-warning">Out of date</span>
</p>


<table class="table">
  <thead>
    <tr>
      <th>DataSet</th>
      {% for process_type_name in main_process_names %}
      <th>{{ process_type_name }}</th>
      {% endfor %}
    </tr>
  </tdead>
  <tbody>
    {% for dataset, statuses in datasets_statuses %}
    <tr>
      <td><a href="{{ dataset.id }}">{{ dataset.name }}</a></td>
      {% for status in statuses %}
      <td>
        {% if status.last_run %}
          <span class="label {{ status.label_class }}">
            <abbr title="{{ status.last_run.datetime|date:"c" }}">{{ status.last_run.datetime|naturaltime }}</abbr>
            {% if status.last_run.successful %}(OK){% else %}(Failed){% endif %}
          </span>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<form action="../" method="get">
<form method="get">
<button type="submit" class="btn btn-default">
  Add new dataset
</button>
</form>
{% endblock %}
